.createevent_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);

  .createevent_modal {
    position: relative;
    background-color: white;
    border-radius: 8px;
    width: 35vw;
    min-width: 500px;
    padding: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: 80vh;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none !important;
    }

    @media screen and (max-width: 525px) {
      width: 89vw;
      min-width: 220px;
    }

    .crossButton {
      padding: 0;
      margin: 0;
      position: absolute;
      right: 12px;
      top: 15px;
      font-size: 27px;
      border: 0;
      box-shadow: none;
      color: var(--secondary);
      cursor: pointer;
    }

    .createevent_header {
      h1 {
        font-size: 2rem;
        font-weight: 700;
        color: var(--secondary);
        font-family: var(--poppins);

        @media screen and (max-width: 500px) {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.1rem;
        font-weight: 400;
        color: black;
        font-family: var(--outfit);
        margin-bottom: 2rem;
      }
    }

    .createevent_form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 100%;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
      }

      .form_header {
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        .host {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: start;
          opacity: 0.7;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .details {
            display: flex;
            flex-direction: column;
            gap: 0rem;
            font-family: var(--outfit);
            font-size: 16px;
            color: gray;
            line-height: 1;
          }
        }

        .thumbnail {
          label {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;
            background-color: #21252917;
            padding: 10px 15px;
            cursor: pointer;
            width: fit-content;
            border-radius: 5px;
            font-family: var(--outfit);
            font-size: 16px;

            @media screen and (max-width: 430px) {
              font-size: 14px;
              gap: 0.5rem;
              padding: 5px 10px;
            }
          }
          input {
            display: none;
          }
        }

        @media screen and (max-width: 430px) {
          justify-content: space-between;
        }
      }

      .form_inputs {
        input,
        textarea {
          display: block;
          width: 100%;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0.375rem;
          transition:
            border-color 0.15s ease-in-out,
            box-shadow 0.15s;

          @media screen and (max-width: 500px) {
            font-size: 14px !important;
          }

          &:focus {
            outline: none;
            box-shadow: none;
            border-color: #000000;
          }
        }

        .date_range {
          margin-top: 2rem;
          display: flex;
          justify-content: space-between;
          gap: 1rem;

          .MuiFormControl-root {
            width: 100%;

            .MuiInputBase-input {
              border: none;
              font-family: var(--poppins);
              font-size: 15px !important;

              @media screen and (max-width: 500px) {
                font-size: 14px !important;
              }

              &:focus {
                outline: none;
                box-shadow: none;
                border-color: #000000 !important;
              }
            }
          }
        }

        .event_mode {
          margin-top: 2rem;
          margin-bottom: 2rem;
          .label,
          .select {
            font-family: var(--poppins);
            font-size: 15px !important;

            @media screen and (max-width: 500px) {
              font-size: 14px !important;
            }
          }
        }

        textarea {
          min-height: 150px;
          margin-top: 2rem;
          &::placeholder {
            font-family: var(--poppins);
            font-size: 1rem !important;
            @media screen and (max-width: 500px) {
              font-size: 14px !important;
            }
          }
        }

        .location {
          background-color: rgba(255, 0, 0, 0);
          box-shadow: none;
          border: 1px solid #ced4da;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0.375rem;
          margin: 2rem 0;
          padding: 0px 10px;
          align-items: center;
          justify-content: space-between;

          .location_header {
            padding: 0;

            p {
              font-family: var(--poppins);
              font-size: 1rem;
              margin-bottom: 0;
            }
          }

          .location_citystate {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;
            .accordionbody {
              display: flex;
              flex-direction: column;
              width: 100%;
              padding: 0;
              margin-bottom: 10px;
            }
          }

          .accordionbody {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
            margin-bottom: 10px;
          }
        }

        .country_accordion {
          margin-top: 2rem;
          margin-bottom: 1rem;
          .label,
          .select {
            font-family: var(--poppins);
            font-size: 0.9rem;

            @media screen and (max-width: 500px) {
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }
}

.createevent_element {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  label {
    font-family: var(--outfit);
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 3px;
    color: #6b2615;
    text-align: left;

    @media screen and (max-width: 500px) {
      font-size: 15px;
    }
  }

  textarea {
    height: 200px;
  }

  p {
    font-size: 16px;
    color: red;
    margin-top: 5px;
    font-family: var(--outfit);
  }
}
.createevent_btndiv {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;

    border-radius: 5px;

    transition: all 0.3s ease;
    font-family: var(--outfit);
  }
}

.MuiMenuItem-root {
  font-family: var(--poppins) !important;
  font-size: 15px !important;
}

.css-o4b71y-MuiAccordionSummary-content {
  margin: 0 !important;
}

.error_message {
  color: red;
  font-size: 15px;
  font-family: var(--outfit);
  margin-top: 5px;
  margin-bottom: 0;
}
