.btn {
  border-radius: 6px;
  padding: 0.6rem;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  width: 140px;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}

.solid {
  background: #ff5b31;
  border: 1px solid #ff5b31;
  transition: all 0.2s ease-in-out;
  color: white;
}

.outline {
  border-radius: 12px;
  background-color: white;
  border: 1px solid #28183b;
  transition: all 0.2s ease-in-out;
}

.solid:hover {
  background-color: #ff5a31d1;
  transition: all 0.2s ease-in-out;
  color: white;
}

.outline:focus,
.outline:hover,
.outline:active {
  border: 1px solid #ff5a31d1;
  transition: all 0.2s ease-in-out;
}

.solid:disabled,
.outline:disabled {
  color: black;
  border: black solid 1px;
  cursor: not-allowed;
  opacity: 0.3;
}

.btn.bold {
  font-weight: 600;
}
