.solid {
  background-color: #ff5b31;
  transition: all 0.2s ease-in-out;
  color: white;
}

.outline {
  border-radius: 12px;
  background-color: white;
  border: 1px solid #28183b;
  transition: all 0.2s ease-in-out;
}

.solid:hover {
  background-color: #ff5a31d1;
  transition: all 0.2s ease-in-out;
  color: white;
}

.outline:focus,
.outline:hover,
.outline:active {
  border: 1px solid #ff5a31d1;
  transition: all 0.2s ease-in-out;
}

.solid:disabled,
.outline:disabled {
  color: black;
  border: black solid 1px;
  cursor: not-allowed;
  opacity: 0.3;
}

.btn {
  cursor: pointer;
}
