.solid {
  background-color: #ff5b31;
  transition: all 0.2s ease-in-out;
  color: white;
}

.solid:disabled {
  background-color: #ff5b31;
  color: white;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.outline {
  border-radius: 12px;
  background-color: white;
  border: 1px solid #28183b;
  transition: all 0.2s ease-in-out;
}

.solid:hover {
  background-color: #ff5a31d1;
  transition: all 0.2s ease-in-out;
  color: white;
}

.outline:focus,
.outline:hover,
.outline:active {
  border: 1px solid #ff5a31d1;
  transition: all 0.2s ease-in-out;
}

.outline:disabled {
  color: black;
  border: black solid 1px;
  cursor: not-allowed;
  background-color: #28183b;
  opacity: 0.5;
}

.btn {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5 !important;
  pointer-events: none !important;
}
