# WE USE RAZORPAY DETAILS (TEST ACCOUNT)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# YOU CAN PUT YOUR OWN MONGODB CREDENTIALS HERE
MONGO_URI=""
PORT=""

# YOU CAN PUT YOUR OWN SECRET RANDOM STRING HERE 
JWT_SECRET= ""

# YOU CAN PUT YOUR OWN GOOGLE OAUTH CREDENTIALS HERE
CLIENT_ID = ""
CLIENT_SECRET  = ""
successURL = ""
CALLBACK_URL = ""
SECRET_KEY = ""
