# Use the Backend Setup guide to setup the backend and then use the following:
VITE_MILANAPI="http://localhost:5000"

# If you are not exploring and checking out the razorpay payment gateway, then you can put random strings here, else you need to set up your own razorpay account and put the keys here:
VITE_RAZORPAY_KEY_ID=""
VITE_RAZORPAY_KEY_SECRET=""

# YOU CAN USE YOUR OWN GEOAPIFY API KEY HERE 
VITE_GEOAPIFY_API_KEY="fe6114aa2c3c4e2b98f61a26d7aca1fd"