.detailedclub_parent {
  width: 400px;
  border: 1px solid #6b2615;
  border-radius: 10px;
  padding: 18px;
  height: 250px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

.detailedclub_parent:hover {
  border: 1px solid #ff5b31;
}

.detailedclub_parent:hover {
  -webkit-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
  -moz-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
  box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
  cursor: default;
}

.detailedclub_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailedclub_header h1 {
  font-size: 23px;
  color: #6b2615;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

.detailedclub_header img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.detailedclub_cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.detailedclub_ctabutton {
  width: 100%;
  padding: 15px 5px !important;
  height: 45px;
  border-radius: 5px;
}

.detailedclub_body {
  font-family: "Poppins", sans-serif;
  max-height: calc(2 * 1.5em);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #6b2615;
  font-size: 16px;
}

@media screen and (max-width: 430px) {
  .detailedclub_parent {
    width: 100%;
    padding: 12px;
    min-height: 236px;
    max-height: none;
  }

  .detailedclub_header {
    margin-bottom: 1rem;
  }

  .detailedclub_header h1 {
    font-size: 21px;
    text-align: left;
  }

  .detailedclub_header img {
    width: 45px;
    height: 45px;
  }

  .detailedclub_body {
    width: 100%;
  }
  .detailedclub_cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}
