.pageheader_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pageheader_textdiv {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pageheader_header1 {
  color: var(--Brand-brand-900, #6b2615);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  z-index: 3;
  text-align: center;
  line-height: 1;
}

.pageheader_header2 {
  color: var(--Brand-brand-900, #6b2615);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.18px; /* 100.75% */
  letter-spacing: 1.2px;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  z-index: 3;
}

@media screen and (max-width: 500px) {
  .pageheader_textdiv {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .pageheader_header1 {
    font-size: 45px;
    line-height: 43px;
    text-align: left;
  }

  .pageheader_header2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 18px;
    margin-top: 0px;
    letter-spacing: 1px;
    width: 95%;
    text-align: left;
    word-break: break-all;
  }
}
