.signup_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 20.5px;
  overflow-y: hidden;
  height: 100vh;
}

.signup_container {
  width: 100%;
  max-width: 900px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 24px -2px rgba(255, 91, 49, 0.56);
  -moz-box-shadow: 0px 0px 24px -2px rgba(255, 91, 49, 0.56);
  box-shadow: 0px 0px 24px -2px rgba(255, 91, 49, 0.56);
  display: flex;
  gap: 4rem;
}

.signup_container_left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;

  .header {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      font-size: 20px;
      background: #0000000a;
      color: var(--primary);
      padding: 7px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin-top: -5px;
      cursor: pointer;
    }

    h1 {
      font-size: 35px;
      font-weight: 700;
      color: var(--secondary);
      line-height: 1;
      font-family: "Poppins", sans-serif;
    }
  }
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;

  .auth_form_body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

    .auth_element {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      p {
        font-family: var(--outfit);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3px;
        color: red;
        opacity: 80%;
        line-height: 1.2;
      }
    }

    .auth_label {
      font-family: var(--outfit);
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 3px;
      color: var(--secondary);
      span {
        color: red;
      }
    }

    .auth_input {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      color: #000000f8;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.375rem;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s;
      font-family: var(--outfit);
    }

    .auth_input:focus {
      outline: none;
      box-shadow: none;
      border-color: #ff5b31;
    }

    .auth_input::placeholder,
    textarea::placeholder {
      font-family: "Poppins", sans-serif;
      font-size: 10px !important;
    }
  }

  .auth_footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .auth_submit {
      border-radius: 0.375rem;
      width: 100%;
      font-family: var(--poppins);
    }

    .signup_or {
      display: flex;
      gap: 10px;
      align-items: center;
      font-family: var(--outfit) !important;
      color: #0000008a;
    }
    .signup_or > hr {
      width: 100%;
    }

    .authpage_oauth {
      background-color: #00000000;
      color: #000000;
      border-radius: 6px;
      font-size: 15px;
      font-family: var(--outfit);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      border: 1px solid #ff5b31;
    }

    .authpage_oauth:hover {
      border: 1px solid #ff5b31;
    }

    .auth_forgot_section {
      width: fit-content;
      height: auto;
      margin: auto;
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
      text-align: center;
      font-size: 14px;
      font-family: var(--outfit);
      color: #0000008a;
      cursor: pointer;

      :nth-of-type(2) {
        cursor: default;
      }

      a {
        color: #0000008a;
        text-decoration: none;
      }
    }
  }
}

// the footer of the auth form where all the buttons are

.signup_rightabstract {
  width: 350px;
  flex-grow: 1;
  position: relative;

  .signup_topbtn {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    .custom-checkbox {
      width: 250px;
      height: 40px;
      font-size: 15px;
      border-radius: 20px;
      input#status {
        display: none;

        // Unchecked State
        + label {
          height: 100%;
          width: 100%;
          > .status-switch {
            cursor: pointer;
            width: 100%;
            height: 100%;
            position: relative;
            background-color: rgb(255, 255, 255);
            border: 1px solid #000000;
            color: #000000;
            transition: all 0.5s ease;
            padding: 3px;
            font-family: var(--outfit);
            border-radius: 8px;

            &:before,
            &:after {
              border-radius: 2px;
              height: calc(100% - 6px);
              width: calc(50% - 3px);
              display: flex;
              align-items: center;
              position: absolute;
              justify-content: center;
              transition: all 0.3s ease;
            }

            &:before {
              background-color: #000000eb;
              color: #ffffff;
              border-radius: 5px;
              left: 3px;
              z-index: 10;
              content: attr(data-unchecked);
            }

            &:after {
              right: 0;
              content: attr(data-checked);
            }
          }
        }

        // Checked stae
        &:checked + label > .status-switch {
          &:after {
            left: 0;
            content: attr(data-unchecked);
          }

          &:before {
            color: #ffffff;
            left: 50%;
            content: attr(data-checked);
          }
        }
      }
    }
  }
}

.signup_rightabstract > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.auth_form > .signup_topbtn {
  display: none;
}

.auth_element_mobileOnly {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .auth_element_mobileOnly {
    display: flex !important;
  }

  .signup_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    overflow-y: scroll;
    height: 90vh;
    background-color: white;
  }

  .signup_container {
    width: 100%;
    max-width: 900px;
    box-shadow: none;
    padding: 0;
  }

  .signup_container_left {
    width: 100%;
  }

  .signup_rightabstract {
    display: none;
  }

  .signup_or {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }
  .signup_or > hr {
    width: 100%;
  }

  .signup_topbtn {
    position: relative;
    top: 0;
    left: 0;
    display: flex !important;
  }

  .authpage_topbtn {
    justify-content: center;
    font-size: 17px;
  }
}

.togglePassword_icon {
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: 15px;
  top: 40px;
}

.signup_password > .togglePassword_icon {
  cursor: pointer;
  user-select: none;
  position: absolute;
  right: 15px;
  top: 40px;
}

.css-13cymwt-control {
  font-family: var(--outfit) !important;
}
