.dashboard_parent {
  padding: 2rem 7rem;
  margin: 0 3rem;

  .profile_header {
    display: flex;
    align-items: start;

    gap: 1.2rem;
    height: 100%;

    .profileSection_container {
      width: 70%;
      flex-grow: 1;
      position: relative;
      border-radius: 12px;

      .profile_Coverpicture {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 12px;
      }

      .profile_picture {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        top: 197px;
        left: 64px;
        transform: translate(-50%, -50%);
      }

      .profile_numbers {
        font-family: var(--outfit);
        display: flex;
        align-items: center;
        gap: 2rem;

        position: absolute;
        top: 225px;
        left: 269px;
        transform: translate(-50%, -50%);

        .counts {
          font-size: 15px;
          line-height: 1;
          margin: 0;
          span {
            font-weight: 600;
          }
        }
      }

      button {
        transition: all 0.2s ease-in-out;
        border: 1.2px solid #ff5b31;
        background-color: transparent;
        padding: 0.3rem 1.5rem;
        border-radius: 5px;
        font-family: var(--outfit);
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top: 225px;
        right: -63px;
        transform: translate(-50%, -50%);
      }
    }

    .dashboard_track {
      width: 30%;
      border-radius: 12px;
      height: 100%;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.603);

      .dashboard_track_p {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 20px;
        text-align: center;
        font-family: var(--outfit);
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }

  .profile_details {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 4rem;
    left: 18px;
    position: relative;

    h2 {
      font-family: var(--outfit);
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }

    p {
      font-family: var(--outfit);
      font-size: 16px;
      margin: 0;
      margin-top: 0.5rem;
    }
  }
}
