.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 4rem;

  @media screen and (max-width: 430px) {
    padding: 6rem 1rem;
  }

  .profile_parent {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media screen and (max-width: 430px) {
      max-width: 100vw;
      gap: 2rem;
    }

    .profile_background {
      width: 100%;
      height: 300px;
      margin-top: 0;
    }

    .profile_header {
      display: flex;
      gap: 1rem;

      img {
        width: 150px;
        height: 150px;
        border-radius: 6px;
        margin-right: 20px;

        @media screen and (max-width: 430px) {
          width: 100px;
          height: 100px;
          margin-right: 0;
        }
      }

      .profile_header_details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .profile_header_name {
          font-size: 2.1rem;
          color: var(--secondary);
          font-weight: 800;
          font-family: var(--mont);

          @media screen and (max-width: 430px) {
            font-size: 1.4rem;
            color: var(--secondary);
            font-weight: 700;
            font-family: var(--poppins);
          }
        }

        .profile_header_tagline {
          font-family: var(--poppins);
          color: #000000;
          font-size: 18px;
          font-weight: 500;

          @media screen and (max-width: 430px) {
            font-size: 14px;
            font-weight: 400;
            word-break: break-all;
          }
        }

        .profile_header_ctadiv {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 100%;
          justify-content: start;

          @media screen and (max-width: 430px) {
            display: none;
          }

          .profile_header_cta {
            width: auto;
            padding: 0.5rem 1.5rem;
            border-radius: 6px;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
              width: 25px;
              height: 25px;
              font-size: 20px;
              color: rgb(255, 255, 255);
              font-weight: 700;
            }
          }
        }
      }
    }

    //* This is for mobile
    .profile_header_ctadiv {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      justify-content: space-between;

      @media screen and (min-width: 430px) {
        display: none;
      }

      .profile_header_cta {
        width: 100%;
        padding: 0.5rem 1.5rem;
        border-radius: 6px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        svg {
          width: 20px;
          height: 20px;
          font-size: 20px;
          color: rgb(255, 255, 255);
          font-weight: 700;
        }
      }
    }

    .profile_events {
      .profile_events_title {
        font-size: 2rem;
        color: var(--secondary);
        font-weight: 800;
        font-family: var(--mont);
        margin-bottom: 2rem;
      }
    }

    .profile_about {
      display: flex;
      flex-direction: column;
      align-items: start;

      h1 {
        font-size: 2rem;
        color: var(--secondary);
        font-weight: 800;
        font-family: var(--mont);

        @media screen and (max-width: 430px) {
          font-size: 1.5rem;
          font-weight: 700;
          font-family: var(--poppins);
        }
      }

      p {
        font-family: var(--outfit);
        color: #000000;
        font-size: 20px;
        font-weight: 400;

        @media screen and (max-width: 430px) {
          font-size: 17px;
          font-weight: 400;
          text-align: start;
        }
      }
    }

    .profile_map {
      display: flex;
      flex-direction: column;
      align-items: start;

      h1 {
        font-size: 2rem;
        color: var(--secondary);
        font-weight: 800;
        font-family: var(--mont);
        margin-bottom: 1rem;

        @media screen and (max-width: 430px) {
          font-size: 1.5rem;
          font-weight: 700;
          font-family: var(--poppins);
        }
      }

      iframe {
        border: 0;
        width: 100%;
        min-width: 900px;
        height: 500px;
        border-radius: 10px;
        border: 2px solid var(--secondary);

        @media screen and (max-width: 430px) {
          min-width: auto;
        }
      }
    }
  }
}
