.events_now_header {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;

  .separator {
    width: 80%;
    height: 1px;
    background-color: var(--secondary);
    margin: 0;
    margin-top: 10px;
    opacity: 0.2;
  }

  p {
    font-family: var(--outfit);
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
    line-height: 1;
    color: var(--secondary);
  }

  .createevent {
    width: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media screen and (max-width: 430px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 4rem;
    align-items: start;

    .separator {
      display: none;
    }
  }
}

.events_div {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
