.events_now_header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .separator {
    width: 65%;
    height: 1px;
    background-color: #e2e5e871;
  }

  p {
    font-family: var(--poppins);
    font-size: 28px;
    font-weight: 600;
    margin: 0;
  }

  @media screen and (max-width: 430px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 4rem;
    align-items: start;

    .separator {
      display: none;
    }
  }
}

.events_div {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
