.auth-img {
  /* max-width: 50%; */
  max-width: 450px;
  max-height: 480px;
}

@media screen and (max-width: 1024px) {
  .auth-img {
    display: none;
  }
}

/* Form global css */
/* These are not to be deleted, applicable for all the forms across the site */

::-webkit-input-placeholder {
  /* Edge */
  color: transparent !important;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: transparent !important;
}

::placeholder {
  color: transparent !important;
}

@media screen and (max-width: 1024px) {
  input::placeholder,
  textarea::placeholder {
    color: black !important;
  }

  label {
    display: none;
  }
}
::selection {
  background: #e26959;
  color: white;
}