.banner_mainparent {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.banner_subparent {
  display: flex;
  justify-content: center;
}

.banner_textdiv {
  text-align: center;
}

.banner_header1 {
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  margin-bottom: 1.5rem !important;
  margin-top: 8rem;
  color: #28183b;
}

.banner_header2 {
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  line-height: 80px;
  margin-bottom: 1.5rem !important;
  color: #28183b;
}

.banner_textdiv div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner_header3 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 70%;
}

.banner_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.banner_signup_btn {
  /* border-radius: 6px;
  margin-top: 2rem;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px; */
  margin-top: 2rem;
  min-width: 320px;
}

.banner_contribute_logo {
  width: 25px;
  height: 25px;
  margin-bottom: 0px;
  color: #000;
}

.banner_imgdiv img {
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  .banner_btn_div {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 430px) {
  .banner_subparent {
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .banner_imgdiv img {
    display: none;
  }

  .banner_header1 {
    font-size: 3rem;
    text-align: center;
    line-height: 60px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .banner_header2 {
    font-size: 3.5rem;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .banner_header3 {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  .banner_signup_btndiv {
    display: flex;
  }

  .banner_btn_div {
    gap: 1rem;
    margin-top: 3rem;
  }

  .banner_signup_btn {
    margin: auto;
  }
}
