.banner_mainparent {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.banner_subparent {
  display: flex;
  justify-content: center;
}

.banner_textdiv {
  text-align: center;
}

.banner_header1 {
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 1.5rem !important;
  color: #28183b;
}

.banner_header2 {
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 1.5rem !important;
  color: #28183b;
}

.banner_textdiv div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner_header3 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 1px;
  width: 70%;
}

.banner_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.banner_signup_btn {
  background: #e26959;
  box-shadow: 0 0 50px -10px #9747ff14;
  font-family: Poppins, sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.896);
  font-weight: 600;
  cursor: pointer;
  width: 310px;
  min-height: 50px;
  max-height: 50px;
}

.banner_signup_btn:hover {
  background: #e26959;
  box-shadow: 0 0 50px -10px #9747ff14;
  font-family: Poppins, sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.896);
  font-weight: 600;
  cursor: pointer;
  width: 310px;
}

.modal_signup_btn {
  background: #e26959;
  box-shadow: 0 0 50px -10px #9747ff14;
  font-family: Poppins, sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 20px;
  color: rgba(0, 0, 0, 0.896);
  font-weight: 600;
  cursor: pointer;
  width: 14vw;
  height: 100%;
}

.modal_signup_btn:hover {
  background: #e26959;
}
.modal_btn_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.banner_contribute_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.banner_contribute_btn p {
  margin-bottom: 0px;
  margin-top: 3px;
}

.banner_contribute_logo {
  width: 25px;
  height: 25px;
  margin-bottom: 0px;
}

.banner_imgdiv img {
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  .banner_btn_div {
    flex-direction: column;
    gap: 0;
  }

  .modal_signup_btn {
    width: 20vw;
  }
}

@media screen and (max-width: 430px) {
  .banner_subparent {
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .banner_imgdiv img {
    display: none;
  }

  .banner_header1 {
    font-size: 3.5rem;
    text-align: center;
    line-height: 60px;
    margin-bottom: 0px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .banner_header2 {
    font-size: 3.5rem;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .banner_header3 {
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }

  .banner_signup_btndiv {
    display: flex;
  }

  .banner_btn_div {
    gap: 1rem;
  }

  .banner_signup_btn {
    width: auto;
    margin: auto;
  }

  .modal_signup_btn {
    width: 100%;
    height: 100%;
  }

  .modal_btn_wrapper {
    flex-direction: column;
  }
}
