/* // Home Banner */
.banner-container {
	background: url("../assets/pictures/milanBg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 850px;
	/* height: 600px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-inner {
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: space-evenly;
	width: 50%;
	height: 80%;
	padding-bottom: 65px;
	max-width: 974px;
	text-align: center;
}

.banner-content {
	padding-bottom: 120px;
}

@media (max-width: 425px) {
	.banner-container {
		height: 500px;
	}

	.banner-content {
		padding-bottom: 50px;
	}
}

.banner-header1 {
	color: black;
	text-transform: uppercase;
	font-size: 80px;
	font-family: "Mulish";
	font-weight: 600;
}

.banner-subtitle {
	color: rgb(111, 106, 106);
	font-size: 30px;
	margin: 0;
	font-family: "Mulish";
	font-weight: bold;
}
@media (min-width: 768px) {
	.banner-subtitle {
		font-size: 30px;
	}
}
@media (max-width: 600px) {
	.banner-subtitle {
		font-size: 20px;
		font-weight: bolder;
	}

	.banner-header1 {
		font-size: 48px;
	}
}

.banner-Buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-Buttons button {
	background-color: #0d6efd;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-right: 10px;
	cursor: pointer;
	width: auto;
}

@media (max-width: 425px) {
    .banner-inner {
        position: relative;
    }

	.banner-Buttons {
        position: absolute;
        bottom: 34px;
        margin: 0 !important;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.banner-Buttons button {
        font-size: 14px;
        padding: 8px;
        margin: 0 !important;
		margin-top: 10px !important;
	}
}

@media (max-width: 343px) {
    .banner-Buttons {
        bottom: 0;
    }
}
