.btn {
  padding: 15px 45px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s !important;
  /* box-shadow: 0 0 20px #eee; */
  box-shadow: 0 0 50px -10px #9747ff14;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: inherit;
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
}

.btn:focus {
  outline: 2px dashed #e26959;
  outline-offset: 2px;
}

.solid {
  background: #e26959;
  border: 1px solid #e26959;
  /* color: rgba(0, 0, 0, 0.896); */
}

.solid:hover,
.solid:active,
.solid:focus {
  color: #e26959;
  border: #e26959 solid 1px;
  background: none;
}

.solid:disabled {
  background: #e26959;
  border: 1px solid #e26959;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn.outline {
  color: #e26959;
  border: #e26959 solid 1px;
}

.outline:focus,
.outline:hover,
.outline:active {
  background-color: #e26959;
  color: #fff;
}

.outline:disabled {
  color: #000;
  border: #000 solid 1px;
  cursor: not-allowed;
  opacity: 0.3;
}

.btn.sm {
  width: fit-content;
  height: fit-content;
  padding: 8px 15px;
  font-size: 0.8rem;
}

.btn.full-width {
  width: 100%;
}
