.cp_main_parent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cp_subparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cp_textdiv {
  width: 70%;
}
.cp_header1 {
  font-family: Montserrat, sans-serif;
  font-size: 76px;
  line-height: 80px;
  margin-bottom: 1.5rem !important;
  color: #28183b;
}
.cp_header2 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.cp_cardsdiv {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.clubCard {
  max-width: 15rem;
  min-width: 15rem;
}

.cp_card {
  max-width: 18rem;
  min-width: 18rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  max-height: 536px;
  min-height: 536px;
  position: relative;
}

.cp_card_imgdiv img {
  max-width: 18rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.cp_card_textdiv {
  padding: 10px 10px 5px 10px;
  font-family: Poppins, sans-serif;
  color: black;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.cp_card_name {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.cp_card_address,
.cp_card_tag {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.cp_card_button {
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  left: 24%;
  border: 1px solid rgb(137, 134, 134);
  font-weight: 600;
  border-radius: 4px;
}

.cp_card_button:hover {
  background-color: #e26959;
  border: none;
  transition: 500ms;
}

@media screen and (max-width: 430px) {
  .cp_textdiv {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .cp_header1 {
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    line-height: 60px;
    margin-bottom: 1.5rem !important;
    color: #28183b;
  }
  .cp_header2 {
    font-family: Poppins, sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}
