@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.clubs_img {
  min-width: 470px;
  width: 100%;
}

div#clubs_banner {
  width: 80%;
  margin-top: 3rem;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#clubscol_1 {
  margin-inline: 20px;
}

#clubscol_1 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #2e8e83;
}

#clubscol_1 p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.main-card-container {
  padding-top: 6%;
  padding-bottom: 6%;
}

.cards {
  padding: 0;
  position: relative;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 323px));
  gap: 50px;
  font-family: 'Mulish', sans-serif;
}

.cards::-webkit-scrollbar {
  width: 0 !important;
}

@media screen and (max-width: 1217px) {
  .cards {
    /* padding: 8% 4%; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 323px));
    column-gap: 8%;
    row-gap: 50px;
  }
}

@media screen and (max-width: 815px) {
  .cards {
    /* padding: 6% 5%; */
    grid-template-columns: repeat(auto-fill, minmax(300px, 323px));
    row-gap: 50px;
  }

  div#clubs_banner {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .clubs_img {
    min-width: 400px !important;
    max-width: 400px !important;
  }
}

@media screen and (max-width: 535px) {
  .cards {
    display: flex;
    flex-direction: column;
    padding: 8% 16%;
    row-gap: 20px;
  }

  .clubs_img {
    min-width: 270px !important;
    max-width: 270px !important;
    width: 80%;
  }

  #clubscol_1 p {
    margin-inline: 20px;
  }
}

@media screen and (max-width: 400px) {
  .cards {
    padding: 10%;
  }

  .main-card-container {
    padding: 0;
  }
}
 
.clubCard {
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 5px 0px;
  transition: box-shadow 0.5s ease-out 0s;
  border-radius: 15px;
  cursor: pointer;
}

.clubCard:hover {
  box-shadow: rgba(255, 212, 206, 0.8) 0px 0px 10px 3px;
}

.clubCard h1 {
  font-weight: 700;
  font-size: 1.75rem;
  font-family: 'Mulish';
}

@media screen and (max-width: 535px) {
  .clubCard {
    margin: 16px 0;
  }
}

.club-img {
  height: 190px;
  border-radius: 15px 15px 5px 5px;
}

.club-info {
  font-size: 14px;
  font-weight: 600;
  line-height: 6px;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Mulish';
}

.desc {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  font-family: 'Mulish';
  /* height: 100%; */
}

.seeBtn {
  cursor: pointer;
  font-weight: lighter;
  margin-left: 4px;
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  .event_image {
    width: 350px !important;
  }

  .eventspageintro_textdiv {
    margin-top: 1rem !important;
  }

  .card-title {
    font-size: 17px;
  }

  .desc {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.eventspageintro_parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventspageintro_textdiv {
  margin-top: 10rem;
}

.eventspageintro_textdiv p {
  font-family: 'Mulish', sans-serif;
  /* width: 60%; */
  font-size: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .eventspageintro_imgdiv img {
    width: 300px;
    height: 300px;
  }

  .eventspageintro_textdiv {
    text-align: center;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .eventspageintro_imgdiv img {
    width: 450px;
    height: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .eventspageintro_imgdiv img {
    width: 600px;
    height: 600px;
  }

  .donate_btn {
    margin-top: 10px;
  }
}

.modal-body_amountdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body_amountdiv h5 {
  margin-right: 5px;
  padding-top: 5px;
}

.modal-body_amountdiv input {
  width: 100px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0 5px;
}

/* Banner Portion CSS */

.event_image {
  min-width: 470px;
  width: 100%;
}

div#event_banner {
  margin-top: 1rem;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#eventCol_1 {
  margin-inline: 20px;
}

#eventCol_1 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #2e8e83;
}

#eventCol_1 p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

@media (max-width: 428px) {
  div#donate_banner {
    width: 100%;
    margin-top: 1rem;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .donate_img {
    min-width: 400px !important;
    max-width: 400px !important;
  }
}
