@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.club_details {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club_details_img {
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
}

.club_details_img img {
    height: 440px;
    width: 100%;
}

.club_details_card {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 55px;
    padding-right: 55px;

}

.club_details_card h1 {
    font-size: 50px;
    font-weight: bold;
    color: #e26959;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

.club_details_card h2 {
    font-size: 30px;
    /*    font-weight: bold; */
    max-width: 95%;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
}

.club_details_card h6 {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
}

.club_details_card span {
    padding-right: 5px;
}

.club_details_card p {
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
    font-family: Poppins, sans-serif;
}

.club_details_card button {
    align-self: flex-start;
    background-color: #e26959;
    color: white;
    width: 155px;
    height: 45px;
    border-radius: 13px;
    border: none;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}