@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.container-fluid {
  padding: 1rem 2rem;
}

.club_details {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club_details_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.club_details_card {
  margin-top: 1rem;
  padding: 3rem 0rem;
  background: #f2f2f2;
  border-radius: 1rem;
}

.club_details_card h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #e26959;
  margin-bottom: 1rem;
  font-family: Montserrat, sans-serif;
}

.club_details_card h2 {
  font-size: 20px;
  max-width: 95%;
  margin: 2rem;
  font-family: Poppins, sans-serif;
}

.club_details_card h6 {
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  margin-left: 2rem;
}

.club_details_card span {
  padding-right: 5px;
}

.club_details_card p {
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  margin: 1rem 2rem 2rem;
  font-family: Poppins, sans-serif;
}

.club_details_card button {
  align-self: flex-start;
  background-color: #e26959;
  color: white;
  width: 155px;
  height: 45px;
  border-radius: 13px;
  border: none;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  margin-left: 2rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container-fluid {
    padding: 1rem 3rem;
  }

  .club_details_card h1 {
    text-align: center;
  }

  .club_details_card h2 {
    font-size: 25px;
    margin: 3rem 0 2rem 3rem;
  }

  .club_details_card h6 {
    font-size: 18px;
    margin-left: 2rem;
  }

  .club_details_card p {
    font-size: 20px;
    line-height: 25px;
    margin: 2rem 1rem 2rem 2rem;
  }

  .club_details_card button {
    margin-left: 2rem;
  }
}

@media (min-width: 992px) {
  .club_details_card {
    padding: 3rem;
  }

  .club_details_card h1 {
    font-size: 50px;
  }

  .club_details_card h2 {
    font-size: 30px;
    margin: 3rem 0 2rem;
  }

  .club_details_card h6 {
    font-size: 20px;
    margin-left: 0;
  }

  .club_details_card p {
    font-size: 20px;
    line-height: 25px;
    margin: 2rem 0;
  }

  .club_details_card button {
    margin-left: 0rem;
  }
}
