/* Forgot password, create new account styling */
.login-link{
    text-decoration: none!important;
    color:grey;
    font-weight:550;
}
.login-link:hover{
    color:#7ED957;
}

/* Create New link styling */
.new-acc{
    color:#7ED957!important;
}
.new-acc:hover{
    color:#558b3e;
    font-weight: bold;
}

/* Login Button */
.login-btn{
    background-color: #7ED957;
    color:black;
    border:none;
    text-transform: uppercase!important;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    transition: 0.2s;
}

.highlighted {
    color:#7ED957;
}

.mobile-img{
    width: 90%;
}

.mobile {
    display: none;
}
.form-check .form-check-input:checked {
    background-color: #C996CC !important;
    border: 1px solid #C996CC;
  }
  
  .form-check .form-check-input:checked:focus  {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #C996CC
  }
  .form-check .form-check-input:focus  {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #C996CC
  }
  .form-check .form-check-input:active {
    background-color: #C996CC; 
  }
  .form-control:focus {
    border-color: #C996CC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #C996CC;
  }
/* For Mobile */

@media screen and (max-width: 800px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .mobile-img{
        width: 300px;
    }
    #rememberMe {
        display: none;
    }
    .login-btn {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {

    .mobile-txt{
        text-align: center!important;
    }

    .mobile-img{
        width: 256px;
    }

    .desktop-img{
        display: none;
    }

    .mobile-sec{
        padding: 0 5%;
    }
}