.cp_main_parent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.cp_subparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cp_textdiv {
  width: 80%;
}

.cp_header1 {
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  line-height: 1;
  margin-bottom: 1.5rem !important;
  color: #28183b;
}

.cp_header2 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.cp_cardsdiv {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.clubCard {
  max-width: 15rem;
  min-width: 15rem;
}

.cp_card {
  max-width: 25rem;
  min-width: 25rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  max-height: 525px;
  min-height: 525px;
  position: relative;
  transition: box-shadow 0.6s ease;
}

.cp_card:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cp_card_imgdiv img {
  max-width: 18rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  margin-left: 3.5rem;
}

.cp_card_textdiv {
  padding: 10px 10px 5px 10px;
  font-family: Poppins, sans-serif;
  color: black;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.cp_card_name {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.cp_card_address,
.cp_card_tag {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.cp_card_button {
  width: 180px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: 29%;
  /* border: 1px solid rgb(137, 134, 134); */
  /* font-weight: 600; */
  border-radius: 4px;
}

/* .cp_card_button:hover {
  background-color: #e26959;
  border: none;
  transition: 500ms;
} */

@media screen and (max-width: 430px) {
  .cp_textdiv {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .cp_header2 {
    font-family: Poppins, sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

/* Clubs Heading Responsiveness */
@media screen and (max-width: 1400px) {
  .cp_header1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .cp_header1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .cp_header1 {
    font-size: 46px;
  }
}

@media screen and (max-width: 768px) {
  .cp_header1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 480px) {
  .cp_header1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .cp_header1 {
    font-size: 35px;
  }
}