/* Forgot password, create new account styling */
.anchor-container {
  text-align: center;
}

.login-link {
  text-decoration: none !important;
  color: grey;
  font-weight: 550;
}

.login-link:hover {
  color: #7ed957;
}

/* Create New link styling */
.new-acc {
  color: #7ed957 !important;
}
.new-acc:hover {
  color: #558b3e;
  font-weight: bold;
}

/* Login Button */
.login-btn {
  background-color: #7ed957;
  color: black;
  border: none;
  text-transform: uppercase !important;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: 0.2s;
}

.btn-container {
  text-align: center;
}

.highlighted {
  color: #7ed957;
}

.mobile-img {
  width: 90%;
}

.mobile {
  display: none;
}
.color-change .color-change-input:checked {
  background-color: #c996cc !important;
  border: 1px solid #c996cc;
}

.color-change .color-change-input:checked:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #c996cc;
}
.color-change .color-change-input:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #c996cc;
}
.color-change .color-change-input:active {
  background-color: #c996cc;
}
.color:focus {
  border-color: #c996cc !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #c996cc;
}
/* For Mobile */

@media screen and (max-width: 800px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .mobile-img {
    width: 300px;
  }
  #remember-me {
    font-family: 'Open Sans', sans-serif;
  }

  .login-btn {
    width: 100%;
  }

  form {
    padding: 0rem 2rem 0rem 2rem;
  }
}

@media screen and (max-width: 420px) {
  .mobile-txt {
    text-align: center !important;
  }

  .mobile-img {
    width: 256px;
  }

  .desktop-img {
    display: none;
  }

  .mobile-sec {
    padding: 0 5%;
  }
}
