.contactUs {
	/* min-height: 75vh; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3rem;
	margin-top: 6rem;
}
/* Form wrapper */
.contactUsImage {
	width: auto;
	height: 350px;
}

.contactUsForm {
	width: 100%;
	height: 100%;
	margin-left: 4rem;
	padding: 1rem 9.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
	border: none;
	box-shadow: 11px 11px 16px 5px rgba(0, 0, 0, 0.25);
}

.contactUsFormHeader {
	text-align: center;
	color: #2e8e83;
	margin-bottom: 3rem;
}

.contactUsFormNameInput {
	display: flex;
	margin-bottom: 2rem;
	width: 100%;
}

.contactUsFNFormInput {
	width: 50%;
	border: 1px solid #948f8f;
	background-color: #fcfcfc;
	padding: 0.8rem 1rem;
	border-radius: 5px;
}

.contactUsLNFormInput {
	width: 50%;
	border: 1px solid #948f8f;
	background-color: #fcfcfc;
	padding: 0.8rem 1rem;
	margin-left: 15px;
	border-radius: 5px;
}

.contactUsFormEmail {
	width: 100%;
}

.contactUsEmailFormInput {
	border: 1px solid #948f8f;
	background-color: #fcfcfc;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	margin-bottom: 2rem;
	width: 100%;
}

.contactUsFormMsg {
	width: 100%;
}

.contactUsMsgFormInput {
	border: 1px solid #948f8f;
	background-color: #fcfcfc;
	padding: 0.8rem 1rem;
	border-radius: 5px;
	margin-bottom: 2rem;
	resize: none;
	overflow-y: auto;
	width: 100%;
}
.contactUsFormSubmit {
	display: flex;
	justify-content: center;
	width: 100%;
}

.contactUsSubmitBtn {
	padding: 0.5rem 2rem;
	color: white;
	background-color: #2e8e83;
	border-radius: 15px;
	border: none;
}
.contactUsSubmitBtn:hover {
	background-color: #0e776b;
}

#homeLink {
	padding: 0.5rem 2rem;
	border-radius: 12px;
	background-color: #2e8e83;
	/* background-color: #27414d; */
}

#homeLink > i {
	color: white;
	font-size: 22px;
	text-align: center;
}

#homeLink > span {
	font-size: 20px;
	color: white;
}

#homeLink:hover {
	background-color: #0e776b;
}

@media screen and (max-width: 768px) {
	.contactUs {
		padding: 3rem 1rem;
		flex-direction: column;
		justify-content: center;
	}
	.contactUsImage {
		width: 100%;
		height: auto;
		margin-bottom: 2rem;
	}
	.contactUsFormHeader {
		font-size: 24px;
	}
	.contactUsForm {
		padding: 1rem 1rem;
		margin-left: 0;
	}
	.contactUsFNFormInput {
		width: 50%;
	}
	.contactUsLNFormInput {
		width: 50%;
	}
    #contactBottom {
		margin-top: 0 !important;
	}
	#homeLink {
		width: 212px;
	}
	#homeLink > i {
		font-size: 18px;
	}

	#homeLink > span {
		font-size: 17px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.contactUs {
		padding: 3rem 8rem;
		flex-direction: column;
		justify-content: center;
	}
	.contactUsForm {
		padding: 1rem 5rem;
		margin-left: 0;
		margin-top: 80px;
	}
	.contactUsImage {
		width: 100%;
		height: auto;
		margin-bottom: 2rem;
	}
	.contactUsFNFormInput {
		width: 50%;
	}
	.contactUsLNFormInput {
		width: 50%;
	}
	#contactBottom {
		margin-top: 0 !important;
	}
	#homeLink > i {
		font-size: 20px;
	}

	#homeLink > span {
		font-size: 18px;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .contactUs {
        margin-top: 0 !important;
    }
	.contactUsForm {
		padding: 2rem 4rem;
		margin: 5%;
		margin-left: 0;
		margin-left: 50px;
		width: 75%;
	}
	.contactUsImage {
		width: 110%;
		height: auto;
		margin-bottom: 2rem;
		padding-right: 50px;
	}
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .contactUs {
        margin-top: 0 !important;
    }
	.contactUsForm {
		margin-top: 80px;
	}
}
