.contact-us-container{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 80vh;
}
.contact-us-form{
	display:flex;
	flex-direction:column;
	width: 60%;
	height: 80%;
	gap: 5%;
}
.text-field-div{
	display: flex;
	gap: 5%;
}
.text-field-div .text-field-container{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.text-field-div .text-field-container input[type=text] {
	border: 1px solid #FAFAFA;
	background-color: #FAFAFA;
	height: 40px;
	padding-left: 10px;
}
.text-field-div .text-field-container input[type=email] {
	border: 1px solid #FAFAFA;
	background-color: #FAFAFA;
	height: 40px;
	padding-left: 10px;
}
.contact-us-form .text-field-container textarea{
	border: 1px solid #FAFAFA;
	background-color: #FAFAFA;
	padding: 10px 10px;
}
.contact-us-form button{
	width: 40%;
	background-color: #222222;
	color:#fff;
	padding: 0.5rem;
	border: none;
	font-size: 18px;
}

/* Media query for small screens */

@media screen and (max-width: 768px) {
	.contact-us-container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 1rem;
	}
	.text-field-div{
		flex-direction: column;
		gap: 5%;
	}
	.contact-us-form{
		width: 100%;
	}
	.contact-us-form button{
		width: 100%;
	}
	.text-field-div .text-field-container label{
		margin:2% 0;
	}
}
