@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;700;800&display=swap");

div#donate-banner {
  width: 80%;
  margin: 64px auto;
  font-family: "Mulish", sans-serif;
}

div#donateCol1 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;

  color: #297f75;
}

div#donateCol1 p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

div#donateCol1 button {
  width: 196px;
  padding: 8px;
  border: none;
  border-radius: 12px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #297f75;
  transition: 0.2s;
}

div#donateCol1 button:hover {
  background-color: #0a3f39;
}

.button_animation:hover {
  box-shadow: 0 2px 8px #7cf8ea;
  transition: 0.7s;
}

div#donateCol2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div#donateCol2 img.donateImg {
  max-width: 596px;
  max-height: 500px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  div#donateCol1 h2 {
    font-size: 40px;
    line-height: 50px;
  }
  div#donateCol1 p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 896px) {
  div#donate-banner {
    flex-direction: column-reverse;
    align-items: center;
  }

  div#donateCol1 {
    width: 100%;
    margin: 0 !important;
    margin-top: 4rem !important;
    flex-wrap: wrap;
    text-align: center;
    align-items: center !important;
  }

  div#donateCol2 {
    margin: 0 !important;
  }

  div#donateCol2 img.eventsImg {
    width: 100%;
  }
}

@media screen and (max-width: 512px) {
  div#donateCol1 h2 {
    font-size: 36px;
  }

  div#donateCol1 p {
    font-size: 16px;
  }
}
