.home-btn{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.error-img{
    padding-inline: 10rem;
}


@media screen and (max-width: 870px) {
    .error-img{
        padding-inline: 5rem;
    }
}

@media screen and (max-width: 550px) {
    .error-img{
        padding-inline: 0rem;
    }
}