.home-btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.error-img{
    height: 60%;
    width:60%;
    display: flex;
    margin: 8vh auto;
    margin-bottom: 0;
}


@media screen and (max-width: 870px) {
    .error-img{
        padding-inline: 5rem;
    }
}

@media screen and (max-width: 550px) {
    .error-img{
        padding-inline: 0rem;
    }
}