@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;700;800&display=swap");

div#events-banner {
  width: 85%;
  margin: 64px auto;
  font-family: "Mulish", sans-serif;
}

div#eventsCol1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div#eventsCol1 img.eventsImg {
  max-width: 556px;
  max-height: 450px;
  width: 90%;
}

div#eventsCol2 {
  width: 40%;
}

div#eventsCol2 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;

  color: #2e8e83;
}

div#eventsCol2 p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

div#eventsCol2 button {
  width: 156px;
  padding: 8px;
  border: none;
  border-radius: 12px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: whitesmoke;
  background-color: #297f75;
  transition: 0.2s;
}
div#eventsCol2 button:hover {
  background-color: #0a3f39;
}

.button_animation:hover {
  box-shadow: 0 2px 8px #000000;
  transition: 0.2s;
  color: black;
}

@media screen and (max-width: 1200px) {
  div#eventsCol2 h2 {
    font-size: 40px;
    line-height: 50px;
  }
  div#eventsCol2 p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 896px) {
  div#events-banner {
    margin-top: 6rem !important;
    flex-direction: column;
    align-items: center;
  }

  div#eventsCol1 {
    margin: 0 !important;
  }

  div#eventsCol1 img.eventsImg {
    width: 100%;
  }

  div#eventsCol2 {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 512px) {
  div#eventsCol2 h2 {
    font-size: 36px;
  }

  div#eventsCol2 p {
    font-size: 16px;
  }
}
