@import url("https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap");

.eventCreateSubmit {
  width: auto;
  font-weight: 600;
  border-radius: 5px;
  background-color: #297f75;
  color: white;
}

.eventCreateFormInput {
  margin: 0px;
  margin-bottom: 1em;
  border: 1px #948f8f solid;
  border-radius: 5px;
  font-family: "Mulish", sans-serif;
}

label {
  font-family: "Alike Angular", serif;
}

.eventCreateWelcome {
  font-weight: bold;
  color: #297f75;
  font-family: "Mulish", sans-serif;
  margin-bottom: 20px;
}
