@import url("https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap");

.eventCreateSubmit {
  width: auto;
  font-weight: 600;
  border: 1px solid rgb(152, 147, 147);
  border-radius: 5px;
  margin: 5px;
  margin-left: 30%;
}

.eventCreateFormInput {
  margin: 0px;
  margin-bottom: 1rem;
  border: 1px #948f8f solid;
  border-radius: 5px;
  font-family: "Mulish", sans-serif;
}

label {
  font-family: "Alike Angular", serif;
}

.eventCreateWelcome {
  font-weight: bold;
  color: #e26959;
  font-family: "Mulish", sans-serif;
  margin-bottom: 3.5rem;
  text-align: center;
}

.geoapify-autocomplete-input {
  height: 55px !important;
  padding: 2% !important;
  border-radius: 10px;
  width: 90% !important;
  font-family: "Mulish", sans-serif !important;
  font-size: 1rem !important;
  border-color: #948f8f !important;
}
.geoapify-autocomplete-input:focus {
  border: 1px solid #e26959 !important;
  box-shadow: 0 0 20px #e26959 !important;
  opacity: 2 !important;
}
