/* Default styles, not to be altered without permission */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mont: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --outfit: "Outfit", sans-serif;
  --secondary: #6b2615;
  --primary: #ff5b31;
}
