.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btn {
    font-size: 2.4rem;
    width: 6rem;
    height: 6rem;
    color: black;
    background-color: #e76f51;
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-container { /* Apply the animation to the icon container */
    animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
    0% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(1rem);
    }
}
