@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

#login-banner {
  padding: 6rem 5rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  align-items: center;
}

#login-banner h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #2e8e83;
}

.loginb-content {
  width: 45%;
  font-size: 1rem;
}
.loginb-content p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.arrow-down {
  position: absolute;
}

#login-banner img {
  height: 30rem;
  width: 25rem;
}

@media only screen and (max-width: 770px) {
  #login-banner {
    flex-direction: column;
    padding: 6rem 2rem;
  }
  #login-banner > * {
    width: 100%;
    text-align: center;
  }
  #login-banner img {
    height: 80%;
    width: 80%;
  }
  #login-banner h1 {
    font-size: 2rem;
    line-height: 40px;
  }
  .loginb-content {
    font-size: 1rem;
  }
}
