@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

/* Main Login Container */
.login-banner-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  padding: 9rem 5rem;
  height: 110vh;
  display: flex;
  justify-content: space-evenly;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  align-items: center;
}

.login-banner-container img {
  height: 30rem;
  width: 25rem;
}

.login-banner-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #2e8e83;
}

.login-banner-content {
  width: 50%;
  height: fit-content;
  font-size: 1rem;
}

.login-banner-content p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.arrow-down {
  position: absolute;
}

@media only screen and (max-width: 770px) {
  .login-banner-container {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  .login-banner-container > * {
    width: 100%;
    text-align: center;
  }

  .login-banner-container img {
    height: 80%;
    width: 80%;
  }

  .login-banner-container h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .login-banner-content {
    font-size: 1rem;
  }
}
