.navbar-brand {
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.1);
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  display: flex;
  align-items: center;
  pointer-events: none;
  margin-left: 30px;
}

.nav-item a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}

.active-link {
  background-color: #2e8e83;
}

.shop_tag {
  font-weight: 600;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.home {
  margin: auto;
  font-weight: 600;
  margin-right: 30px;
  padding: 3px 13px;
}

.shop_icon {
  width: 10px;
  height: 10px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navbar-brand {
    font-size: 1.7rem;
  }

  .nav-item {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.nav_bramhin_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
}

.nav_user_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
  align-self: center;
}

@media (max-width: 1000px) {
  .home {
    margin: auto;
    margin-bottom: 10px;
  }
}
