.navbar_main {
  background-color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
  padding-top: 10px;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.15);
  z-index: 10;
}

.navbar-brand {
  font-size: 1.8em;
  color: #28183b;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  display: flex;
  align-items: center;
  pointer-events: none;
  margin-left: 30px;
}

.nav-item a {
  text-decoration: none;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  color: #28183b;
  font-size: 1rem;
}

.nav-item a:hover {
  color: #28183b;
}

.active-link {
  border-bottom: 2px solid #e26959;
  width: 30%;
  border-radius: 20%;
  margin: auto;
}

.shop_tag {
  font-weight: 600;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.home {
  font-weight: 600;
  margin: auto;
  padding-right: 30px;
}

.shop_icon {
  width: 10px;
  height: 10px;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .navbar-brand {
    font-size: 1.7rem;
  }
  .home {
    margin: auto;
    padding: 8px;
  }
}

.nav_bramhin_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
}

.nav_user_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
  align-self: center;
}

@media (min-width: 769px) {
  .container-fluid {
    padding: 1rem 3rem;
  }
}

.nav_signup_btn {
  background: #e26959;
  box-shadow: 0 0 50px -10px #9747ff14;
  font-family: Poppins, sans-serif;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.896);
  font-weight: 600;
  cursor: pointer;
}

.nav_signup_btn:hover {
  cursor: pointer;
  background: #f68475;
}
