.card-group {
  width: 80%;
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  margin-bottom: 6em;
  margin-top: 3em;
}

.w-full {
  width: 100%;
}

.cardart {
  transition: all 0.5s;
}

.cardart:hover {
  box-shadow: #297f75 0px 0px 10px 3px;

  cursor: pointer;
}

.art {
  width: 200px;
}

.star {
  width: 50px;
}

@media (max-width: 584px) {
  .card-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  .cardart {
    margin-bottom: 37px;
    width: 100%;
  }
}
