.card-group {
  width: 80%;
  justify-content: center;
  margin-bottom: 6em;
  margin-top: 3em;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.cardart {
  background: #f0f0f0;
  border-radius: 20px;
  transition: all 0.5s;
  max-width: 18rem;
}

.cardart:hover {
  box-shadow: #297f75 0px 0px 10px 3px;

  cursor: pointer;
}

.cardart h6 {
  font-size: 20px;
  font-weight: 700;
}

.card-content {
  padding: 15px;
}

.art {
  max-width: 100%;
}

.star {
  width: 50px;
}

@media (max-width: 684px) {
  .card-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardart {
    margin-bottom: 37px;
  }
}
