* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.store {
  width: 100%;
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Mulish", sans-serif;
}

.info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #2e8e83;
  width: 75%;
}

.info p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  width: 70%;
}

.info button {
  width: 196px;
  padding: 8px;
  border: none;
  border-radius: 13px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  background-color: #297f75;
  color: whitesmoke;
  transition: 0.2s;
}

.info button:hover {
  background-color: #0a3f39;
  box-shadow: 0 2px 8px #000000;
  transition: 0.2s;
}

.ShopImg {
  min-width: 470px;
  width: 40%;
}

@media (max-width: 684px) {
  .store {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .info {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .info p {
    text-align: center;
    width: 80%;
    letter-spacing: 0.5px;
  }
  .ShopImg {
    min-width: 350px;
    width: 100%;
    display: none;
  }
  .info button {
    width: 170px;
    padding: 6px;
  }
  .Header-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Header-text h1 {
    width: 90%;
    padding: 0;
    font-size: 30px;
    letter-spacing: 1px;
  }
}
