.shop_main_parent {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.shop_subparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.shop_textdiv {
  width: 80%;
}

.shop_header1 {
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 1.5rem !important;
  color: var(--font-color);
  margin-top: 4rem;
}

.shop_header2 {
  font-family: Poppins, sans-serif;
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.shop_cardsdiv {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.clubCard {
  max-width: 15rem;
  min-width: 15rem;
}

.shop_card {
  max-width: 18rem;
  min-width: 18rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  max-height: 536px;
  min-height: 536px;
}

.shop_card_imgdiv img {
  max-width: 18rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.shop_card_textdiv {
  padding: 10px 10px 5px 10px;
  font-family: Poppins, sans-serif;
  color: black;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.shop_card_name {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.shop_card_address,
.shop_card_tag {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
}

/* //* Buttons div start */
.shop_buttonsdiv {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #e26959 0%,
    #f59e0b 51%,
    #e26959 100%
  ) !important;

  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px #eee;
  border-radius: 8px;
  display: block;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.products_header {
  margin-bottom: 80px;
}

.products_header h1 {
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 1.5rem !important;
  color: var(--font-color);
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.products_header hr {
  width: 30%;
  margin: 0 auto;
  border: 1px solid #28183b;
}

/* //* Buttons div end */

@media screen and (max-width: 430px) {
  .shop_textdiv {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .shop_header1 {
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    line-height: 60px;
    margin-bottom: 1.5rem !important;
    color: #28183b;
  }

  .shop_header2 {
    font-family: Poppins, sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}
