*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.store{
    width: 100%;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Mulish", sans-serif;
}

.info{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info h1{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #2e8e83;
  width: 75%;
}

.info p{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 70%;
}

.info button {
  width: 196px;
  padding: 8px;
  border: none;
  border-radius: 12px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #297f75;
}


.ShopImg{
    min-width: 470px;
    width: 40%; 
}