.trackSection_parent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 1rem 1rem;
  height: 200px;
  filter: blur(3px);

  .trackSection_title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
    font-family: var(--outfit);
  }

  .trackSection_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
    }

    .tracker_calendar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 12px;
      font-weight: 600;

      p {
        border: 1px solid #ff5b31;
        padding: 0rem 0.5rem;
        border-radius: 5px;
        cursor: pointer;
      }

      .active_calendar {
        background-color: #4a11030e;
      }
    }
  }

  .tracker_container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    .tracker_box {
      width: 50%;
      padding: 6px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: var(--outfit);

      border: 1px solid #e0e0e0;
      border-radius: 4px;

      .tracker_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        font-size: 14px;
        line-height: 1;
      }

      .tracker_footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 1rem;
        p {
          margin: 0;
        }

        .tracker_number {
          font-size: 24px;
          font-weight: 600;
          margin: 0;
          line-height: 1;
        }

        .tracker_icon {
          background-color: #ebefea;
          border-radius: 3px;
        }

        .tracker_percentage {
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: 600;
          margin: 0;
          line-height: 1;
        }

        .positive {
          color: #2ca806;
        }

        .negative {
          color: #ff3131;
        }
      }
    }
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--outfit);
    font-size: 14px;
    color: black;
    font-weight: 400;
    padding-top: 10px;
  }
}

// /* Add responsive design */
// @media (max-width: 1024px) {
//   .tracker_container {
//     grid-template-columns: 1fr; /* Switch to single column */
//   }
// }
