.userregister_header {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.userregister_sideimg {
    margin-bottom: 100px;
    max-width: 100%;
    height: auto;
}

.anchor-container {
    text-align: center;
}

.password-error{
    color:red;
    padding-top:2px;
    padding-bottom:2px;
}

@media screen and (max-width: 800px) {
    h2 {
        padding-bottom: 2vw;
    }

    ::placeholder {
    }

    #homeIcon {
        font-size: 3.5vw;
    }
    .form {
        padding: 0 4rem 0 4rem;
    }

    .login-btn {
        width: 10rem;
    }
}

#homeIcon {
    color: #24a0ed;
    text-decoration: none;
    font-size: 22px;
}

#homeIcon:hover {
    color: #40a9eb;
    text-decoration: underline;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#remember-me {
    font-family: "Open Sans", sans-serif;
}

.userreg_mob_firstname {
    display: none;
}
.clubreg_mob {
    display: none;
}

@media only screen and (max-width: 430px) {
    .userreg_mob_firstname {
        display: block;
    }
    .userreg_des_firstname {
        display: none;
    }
    .clubreg_mob {
        display: block;
    }
    .clubreg_des {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .remove_placeholder_desktop::placeholder {
        color: transparent;
    }
}
