.anchor-container {
  text-align: center;
}
form .anchor-container-desktop {
  text-align: left;
}
form .btn-container-desktop {
  text-align: left;
}
.btn-container-flex-desktop {
  display: flex;
  align-items: center;
  justify-content: left;
}

.register-btn {
  background-color: rgb(137, 181, 247);
  text-transform: uppercase !important;
  font-size: 1.25rem !important;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: 0.2s;
  cursor: pointer;
}

.loginform h1,
.userregister_header {
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  line-height: 60px;
  margin-bottom: 1.5rem !important;
  color: #28183b;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.loginform label,
.regformlabels {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 1rem;
  letter-spacing: 1px;
}

.form-control:focus {
  box-shadow: 0 0 11px 0.1rem #e26959 !important;
  border: none;
}

@media screen and (max-width: 800px) {
  h1 {
    text-align: center;
  }
  h2 {
    padding-bottom: 2vw;
  }

  #homeIcon {
    font-size: 3.5vw;
  }
  .form {
    padding: 0 2rem 0 2rem;
  }

  .login-btn {
    width: 100%;
  }
  form .register-btn {
    width: 100%;
  }
  form .btn-container {
    text-align: center;
  }
  .btn-container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .userregister_sideimg {
    margin-bottom: 0;
  }
}

#homeIcon {
  color: #24a0ed;
  text-decoration: none;
  font-size: 22px;
}

#homeIcon:hover {
  color: #40a9eb;
  text-decoration: underline;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#remember-me {
  font-family: "Open Sans", sans-serif;
}

.userreg_mob_firstname {
  display: none;
}
.clubreg_mob {
  display: none;
}

.toggle-button{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  float: right;
  margin-top: -3.25rem;
  margin-right: 0.9rem;
}



#password, #mobileClubPassword, #desktopClubPassword, #desktopUserPassword, 
#password-mob, #password-des, #confirm-password-mob, #confirm-password-des{
  padding-right: 2.5rem;
}

.left-right-divider {
  display: none;
  align-items: center;
  text-align: center;
}
/* .pb-3 {
  padding-bottom: 24px;
} */
.pt-2 {
  padding-top: 16px;
}
.left-right-divider::before, .left-right-divider::after {
  height: 1px;
  width: auto;
  background-color: rgb(0 0 0 / .35);
  --tw-content: '';
  content: var(--tw-content);
  flex-grow: 1;
}
.px-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 430px) {
  .userreg_mob_firstname {
    display: block;
  }
  .userreg_des_firstname {
    display: none;
  }
  .clubreg_mob {
    display: block;
  }
  .clubreg_des {
    display: none;
  }
  .loginform h1,
  .userregister_header {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .authBannerImageContainer {
    display: none;
  }
}
       
@media only screen and (max-width: 527) {
.googleRegister{
margin: 0px;
width: 10px
}
}
@media only screen and (max-width: 1200px) {
.googleRegister {
width: 11rem;
height: 4rem;

}

}
@media only screen and (max-width: 801px) {
  .left-right-divider{
    display: flex;
  }
.googleLogin,
.googleRegister {
width: 18rem;
height: 4.8rem;
}

.divider {
display: none;
}

.googleRegister {
margin-left: 23px;
}
} 
@media only screen and (max-width: 768px) {
.googleRegister{
margin-left: 5.5rem;
}
}
@media only screen and (max-width: 516px) {
.googleRegister{
  margin-left: 2.5rem;
}
}
@media only screen and (max-width: 462px) {
  .googleRegister{
    margin-left: 0;
    width: 19rem;
  }
  }
  @media only screen and (max-width: 360px) {
    .googleRegister{
      width: 17rem;
    }
    }