.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .top-btn {
    width: 2.5rem;
    height: 2.5rem;
    color: black;
    background-color: #ff5b31;
    border-radius: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 500px) {
      width: 2rem;
      height: 2rem;
      bottom: 1.5rem;
      right: 1.5rem;
    }

    .icon {
      font-size: 1.8rem;
      font-family: "Poppins", sans-serif;

      @media screen and (max-width: 500px) {
        font-size: 1.2rem;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
