.clubdetails_parent {
  padding: 5rem 2rem;
}

.clubdetails_main {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.clubdetails_header {
  position: relative;
  height: 350px;
}

.clubdetails_header_img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 6px;
}

.clubdetails_header_pfp {
  position: absolute;
  width: 150px;
  border-radius: 6px;
  left: 1rem;
  bottom: -4rem;
}

.clubdetails_subscribe {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.clubdetails_subscribe > button {
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 17px;
  border-radius: 6px;
  padding: 10px 20px;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(
    to right,
    #e08fcf 0%,
    #ffabf4 50%,
    #e08fcf 100%
  );
  transition: 0.5s;
}
.clubdetails_subscribe > button > .money_icon {
  width: 19px;
  height: 19px;
  color: yellow;
  font-weight: 700;
}

.clubdetails_subscribe > button:hover {
  background-position: right center;
}

.clubdetails_body {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.clubdetails_body > h1 {
  font-size: 30px;
  color: #28183b;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.clubdetails_body > p:nth-of-type(1) {
  font-size: 17px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin: 0;
  width: 500px;
}

.clubdetails_address {
  margin-top: 15px;
}

.clubdetails_address > p {
  color: rgba(0, 0, 0, 0.782);
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 11px;
}

.clubdetails_about {
  margin-top: 2rem;
}

.clubdetails_contact {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 7px;
  color: blue;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.clubdetails_contact > a {
  margin: 0;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

.clubdetails_contact_dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.clubdetails_about > h1 {
  font-size: 27px;
  color: black;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  margin-top: 4rem;
}

.clubdetails_about > p {
  font-size: 17px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin: 0;
}

.clubdetails_events > h1 {
  font-size: 27px;
  color: black;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  margin-top: 4rem;
}

.clubdetails_eventcard {
  border-radius: 6px;
  width: 350px;
  height: 300px;
  position: relative;
}

.clubdetails_eventcard > img:nth-of-type(1) {
  width: 100%;

  margin: auto;
  border-radius: 6px 6px 0 0px;
}

.clubdetails_eventcard_body > h1 {
  font-size: 17px;
  color: black;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
  width: 60%;
}

.clubdetails_eventcard_body_date {
  background-color: white;
  position: absolute;
  top: 7px;
  right: 7px;
  text-align: center;
  padding: 7px 2px;
  border-radius: 4px;
}

.clubdetails_eventcard_body_date > p {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1px;
}

.clubdetails_map > h1 {
  font-size: 27px;
  color: black;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  margin-top: 4rem;
}

/* Mobile screen */
@media screen and (max-width: 500px) {
  .clubdetails_parent {
    padding: 5rem 1.3rem;
  }

  .clubdetails_header {
    height: 150px;
  }

  .clubdetails_header_pfp {
    width: 100px;
    left: 0.5rem;
  }

  .clubdetails_subscribe > button {
    font-size: 16px;
    line-height: 1.1;
  }
  .clubdetails_subscribe > button > .money_icon {
    display: none;
  }

  .clubdetails_body {
    margin-top: 1.5rem;
    margin-left: 0.6rem;
  }

  .clubdetails_body > h1 {
    font-size: 23px;
  }

  .clubdetails_body > p:nth-of-type(1) {
    font-size: 16px;
    width: 100%;
  }

  .clubdetails_address {
    margin-top: 15px;
  }

  .clubdetails_address > p {
    font-size: 11px;
  }

  .clubdetails_about {
    margin-top: 2rem;
  }

  .clubdetails_contact > a {
    font-size: 15px;
  }

  .clubdetails_about > h1 {
    font-size: 21px;
  }

  .clubdetails_about > p {
    font-size: 16px;
  }

  .clubdetails_events > h1 {
    font-size: 21px;
  }

  .clubdetails_eventcard {
    width: 100%;
  }

  .clubdetails_eventcard > img:nth-of-type(1) {
    width: 100%;
  }

  .clubdetails_eventcard_body > h1 {
    font-size: 17px;
  }
}

/* 501px to  */
