.landing_parent {
  display: flex;
  flex-direction: column;
  min-height: 95dvh;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @media screen and (max-width: 500px) {
    padding-top: 0rem;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100dvh;
  }

  .Landing_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    object-fit: cover;
    height: 100vh;
    max-height: 100vh;
  }

  .landing_promo {
    display: inline-flex;
    padding: 5px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid var(--headsup-stroke, rgba(215, 86, 54, 0.766));
    background: var(--Neutral-G10, #fbfbfb);
    font-family: var(--outfit);
    margin: auto;
    cursor: pointer;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    color: black;
    font-size: 16px;

    &:hover {
      -webkit-box-shadow: 0px 0px 29px 7px rgba(255, 124, 90, 0.44);
      -moz-box-shadow: 0px 0px 29px 7px rgba(255, 124, 90, 0.44);
      box-shadow: 0px 0px 29px 7px rgba(255, 124, 90, 0.44);
      transition: all 0.2s ease-in-out;
      border: 1px solid var(--headsup-stroke, rgb(215, 86, 54));
    }

    @media screen and (max-width: 500px) {
      padding: 5px 10px;
      font-size: 15px;
    }
  }

  .landing_body {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

    h1 {
      color: var(--Brand-brand-900, #6b2615);
      text-align: center;
      font-family: var(--outfit);
      font-size: 4.5rem;
      line-height: 1;
      font-weight: 900;
      margin: 0;
      z-index: 3;

      span {
        color: var(--Brand-brand-500, #ff5b31);
      }

      @media screen and (max-width: 500px) {
        font-size: 2.7rem;
        text-align: start;
      }
    }

    p {
      color: var(--Brand-brand-900, #6b2615);
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24.18px; /* 100.75% */
      letter-spacing: 1.2px;
      text-align: center;
      width: 55%;
      margin: auto;
      margin-top: 3rem;
      z-index: 3;

      span {
        font-weight: 600;
      }

      @media screen and (max-width: 500px) {
        font-size: 17px;
        width: 100%;
        text-align: start;
      }
    }
  }

  .landing_marque {
    width: 50%;
    margin: auto;
    margin-top: 4rem;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .landing_marque_pill {
      background-color: white;
      border-radius: 50px;
      padding: 5px 10px;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      width: fit-content;
      font-family: var(--outfit);
      cursor: pointer;
      z-index: 3;
      border: 1px solid var(--headsup-stroke, rgba(215, 86, 54, 0.103));
      font-size: 15px;
      color: black;
      margin: 0 20px;

      img {
        width: 35px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .landing_ctadiv {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    @media screen and (max-width: 500px) {
      flex-direction: column;

      flex-direction: column-reverse;
      align-items: start;
      justify-content: start;
      width: 100%;
    }

    .landing_signup {
      border-radius: 8px;
      padding: 0.7rem 1.5rem;
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      font-style: normal;
      width: auto;
      font-weight: 500;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border: none;
      gap: 10px;
      margin: auto;
      z-index: 3;

      span {
        font-size: 18px;
        @media screen and (max-width: 500px) {
          font-size: 18px;
        }
      }

      &:hover {
        background: var(--Brand-brand-500, #ff5b31);
        box-shadow:
          0px 0px 1.17px 0px #ff5a30,
          0px 0px 8.191px 0px #ff5a30,
          0px 0px 28.084px 0px #ff5a30;
        transition: all 0.3s ease-in-out;
      }

      @media screen and (max-width: 500px) {
        width: auto;
        margin: 0;
      }
    }

    .separator {
      height: 46px;
      border-left: 3px;
      border-left-style: solid;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    .landing_ctaimgdiv {
      display: flex;
      flex-direction: column;

      .landing_ctaimages {
        display: flex;
        align-items: center;
        gap: 0px;
        z-index: 3;
        img {
          width: 30px;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 50%;
          z-index: 4;

          &:nth-of-type(2) {
            margin-left: -10px;
            z-index: 3;
          }

          &:nth-of-type(3) {
            margin-left: -10px;
            z-index: 2;
          }

          &:nth-of-type(4) {
            margin-left: -10px;
            z-index: 1;
          }
        }
      }

      span {
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: var(--Brand-brand-900, #6b2615);
        z-index: 3;
      }
    }
  }
}
