.landing_parent {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  min-height: 90dvh;

  @media screen and (max-width: 500px) {
    padding-top: 8rem;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Landing_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    object-fit: cover;
    height: 100vh;
    max-height: 100vh;
  }

  .landing_promo {
    display: inline-flex;
    padding: 5px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid var(--headsup-stroke, rgba(215, 86, 54, 0.766));
    background: var(--Neutral-G10, #fbfbfb);
    font-family: "Outfit", sans-serif;
    margin: auto;
    cursor: pointer;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    color: black;
    font-size: 16px;

    &:hover {
      -webkit-box-shadow: 0px 0px 29px 7px rgba(255, 124, 90, 0.44);
      -moz-box-shadow: 0px 0px 29px 7px rgba(255, 124, 90, 0.44);
      box-shadow: 0px 0px 29px 7px rgba(255, 124, 90, 0.44);
      transition: all 0.2s ease-in-out;
      border: 1px solid var(--headsup-stroke, rgb(215, 86, 54));
    }

    @media screen and (max-width: 500px) {
      padding: 5px 10px;
      font-size: 15px;
    }
  }

  h1 {
    color: var(--Brand-brand-900, #6b2615);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    margin-top: 4rem;
    font-style: normal;
    font-weight: 800;
    text-transform: capitalize;
    z-index: 3;

    span {
      color: var(--Brand-brand-500, #ff5b31);
    }

    @media screen and (max-width: 500px) {
      font-size: 2.9rem;
      margin-top: 4rem;
    }
  }

  h2 {
    color: var(--Brand-brand-900, #6b2615);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.18px; /* 100.75% */
    letter-spacing: 1.2px;
    text-align: center;
    width: 55%;
    margin: auto;
    margin-top: 1rem;
    z-index: 3;

    span {
      color: var(--Brand-brand-500, #ff5b31);
    }

    @media screen and (max-width: 500px) {
      font-size: 17px;
      width: 100%;
    }
  }

  .landing_marque {
    width: 50%;
    margin: auto;
    margin-top: 4rem;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    .landing_marque_pill {
      background-color: white;
      border-radius: 50px;
      padding: 5px 10px;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      width: fit-content;
      font-family: "Outfit", sans-serif;
      cursor: pointer;
      z-index: 3;
      border: 1px solid var(--headsup-stroke, rgba(215, 86, 54, 0.103));
      font-size: 15px;
      color: black;
      margin: 0 20px;

      img {
        width: 35px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .landing_signup {
    border-radius: 50px;
    padding: 0.7rem 1.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-style: normal;
    width: auto;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    gap: 10px;
    margin-top: 4rem;
    margin: auto;
    z-index: 3;

    span {
      font-size: 18px;
      @media screen and (max-width: 500px) {
        font-size: 18px;
      }
    }

    &:hover {
      background: var(--Brand-brand-500, #ff5b31);
      box-shadow:
        0px 0px 1.17px 0px #ff5a30,
        0px 0px 8.191px 0px #ff5a30,
        0px 0px 28.084px 0px #ff5a30;
      transition: all 0.3s ease-in-out;
    }

    @media screen and (max-width: 500px) {
      margin-top: 4rem;
      width: auto;
    }
  }
}
