.eventcard_parent {
  display: inline-flex;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--Neutral-G30, #f0efef);
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  width: 380px;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 500px) {
    padding: 12px;
    max-width: 100vw;
  }

  &:hover {
    border: 1px solid #ff5a318a;
    -webkit-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    -moz-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    transition: all 0.3s ease-in-out;
    cursor: default;
  }

  .eventcard_top {
    display: flex;
    gap: 10px;
    flex-direction: column;

    @media screen and (max-width: 500px) {
      flex-direction: row;
      gap: 15px;
    }

    img {
      align-self: stretch;
      border-radius: 16px;
      object-fit: cover;
      width: 100%;
      height: 190px;
      @media screen and (max-width: 500px) {
        width: 110px;
        height: 110px;
      }
    }

    .eventcard_text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media screen and (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        justify-content: space-between;
      }

      h1 {
        align-self: start;
        color: var(--Neutral-G900, #3f3836);
        text-align: center;
        font-family: var(--poppins);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.4px;

        @media screen and (max-width: 500px) {
          text-align: left;
          // truncate to 2 lines
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      p {
        align-self: stretch;
        color: var(--Neutral-G600, #625c5a);
        text-align: center;
        font-family: var(--outfit);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.32px;

        @media screen and (max-width: 500px) {
          text-align: left;
          // truncate to 2 lines
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .eventcard_datetime {
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          align-items: center;
          gap: 8px;
          svg {
            width: 20px;
            height: 20px;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .eventcard_ctadiv {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    margin-top: 1rem;

    .cta_membersdiv {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 34px;
        height: 34px;
        max-width: 34px;
        max-height: 34px;
        outline: none;
        background: none;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid rgb(255, 255, 255);
        margin-left: -16px;
      }
      p {
        margin: 0;
        font-family: var(--outfit);
        font-size: 15px;
        font-weight: 500;
      }
    }

    .eventcard_readmore {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      white-space: nowrap;
      font-family: var(--outfit) !important;
      font-weight: 400;
      font-size: 16px;
      line-height: normal;
      letter-spacing: 0.32px;

      svg {
        width: 19px;
        height: 19px;
      }
    }

    .eventcard_cta_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: var(--primary);
      font-size: 15px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.4px;
      rotate: -90deg;
      width: 33px;
      height: 33px;
      padding: 7px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
