@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #000;
} */
.container2 {
  position: relative;
  width: 400px;
  background: #b50808;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 25vmin;
}
.container2 .post {
  display: none;
}
.container2 .text {
  font-size: 25px;
  color: #faf0f0;
  font-weight: 500;
}
.container2 .edit {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #f3ecec;
  font-weight: 500;
  cursor: pointer;
}
.container2 .edit:hover {
  text-decoration: underline;
}
.container2 .star-widget input {
  display: none;
}
.star-widget label {
  font-size: 40px;
  color: #fae8e8;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}
input:checked ~ label {
  color: #fd4;
}
input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before {
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before {
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before {
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before {
  content: "I just like it ";
}
#rate-5:checked ~ form header:before {
  content: "I just love it ";
}
.container form {
  display: none;
}
input:checked ~ form {
  display: block;
}
form header {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea {
  height: 100%;
  width: 100%;
  outline: none;
  color: #f4dfdf;
  border: 1px solid #e2d6d6;
  background: #aba6a6b0;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus {
  border-color: #ffeeee;
}
form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #e6cba8;
  color: #060505;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}
form .btn button:hover {
  background: #1b1b1b;
  color: #e5e798;
}
