.pageheader_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pageheader_textdiv {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.pageheader_header1 {
  font-size: 60px;
  color: #28183b;
  line-height: 80px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  margin-top: 2rem;
  text-align: center;
}

.pageheader_header2 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 18px;
  margin-top: 0px;
  letter-spacing: 1px;
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .pageheader_textdiv {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .pageheader_header1 {
    font-size: 40px;
    line-height: 43px;
  }

  .pageheader_header2 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 18px;
    margin-top: 0px;
    letter-spacing: 1px;
    width: 95%;
    text-align: center;
  }
}
