.contactUs {
  /* min-height: 75vh; */
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 6rem;
}

.imageWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactUsImage {
  width: 75%;
  height: auto;
}

.formWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactUsForm {
  width: 90%;

  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 11px 11px 16px 5px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

.contactUsFormHeader {
  text-align: center;
  color: #2e8e83;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.contactUsFormNameInput {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}

.contactUsFNFormInput {
  width: 50%;
  border: 1px solid #948f8f;
  background-color: #fcfcfc;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}

.contactUsLNFormInput {
  width: 50%;
  border: 1px solid #948f8f;
  background-color: #fcfcfc;
  padding: 0.8rem 1rem;
  margin-left: 15px;
  border-radius: 5px;
}

.contactUsFormEmail {
  width: 100%;
}

.contactUsEmailFormInput {
  border: 1px solid #948f8f;
  background-color: #fcfcfc;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  width: 100%;
}

.contactUsFormMsg {
  width: 100%;
}

.contactUsMsgFormInput {
  border: 1px solid #948f8f;
  background-color: #fcfcfc;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  resize: none;
  overflow-y: auto;
  width: 100%;
}
.contactUsFormSubmit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contactUsSubmitBtn {
  width: 206px;
  height: 54px;
  padding: 0.5rem 2rem;
  color: white;
  background-color: #2e8e83;
  border-radius: 15px;
  border: none;
}
.contactUsSubmitBtn:hover {
  background-color: #0e776b;
}

#homeLink {
  padding: 0.5rem 2rem;
  border-radius: 12px;
  background-color: #2e8e83;
  /* background-color: #27414d; */
}

#homeLink > i {
  color: white;
  font-size: 22px;
  text-align: center;
}

#homeLink > span {
  font-size: 20px;
  color: white;
}

#homeLink:hover {
  background-color: #0e776b;
}

@media screen and (max-width: 768px) {
  .contactUs {
    padding: 3rem 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .contactUsImage {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .contactUsFormHeader {
    font-size: 24px;
  }
  .contactUsForm {
    padding: 1rem 1rem;
    margin-left: 0;
  }
  .contactUsFNFormInput {
    width: 50%;
  }
  .contactUsLNFormInput {
    width: 50%;
  }
  #contactBottom {
    margin-top: 0 !important;
  }
  #homeLink {
    width: 212px;
  }
  #homeLink > i {
    font-size: 18px;
  }

  #homeLink > span {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1200px) {
  .contactUsForm {
    padding: 2rem 7rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contactUs {
    padding: 3rem 0rem;
    flex-direction: column;
    justify-content: center;
  }
  .formWrapper {
    width: 80%;
  }
  .contactUsForm {
    padding: 1rem 5rem;
    margin-left: 0;
    margin-top: 80px;
  }
  .contactUsImage {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .contactUsFNFormInput {
    width: 50%;
  }
  .contactUsLNFormInput {
    width: 50%;
  }
  #contactBottom {
    margin-top: 0 !important;
  }
  #homeLink > i {
    font-size: 20px;
  }

  #homeLink > span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 760px) {
  .formWrapper {
    width: 100%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .imageWrapper {
    width: 100%;
  }
  .contactUsForm {
    padding: 2rem;
  }
}
