* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#userRegister img.img-fluid {
    width: auto;
}

div#userRegister form {
    width: auto;
}

div#userRegister input, div#userRegister textarea {
    min-width: 300px;
    max-width: 376px;
}

div#userRegister div#links {
    margin-top: 22px;
}

div#userRegister div#links button {
    background-color: rgb(137, 181, 247);
    margin-bottom: 22px;
}

@media screen and (max-width: 991px) {
    div#userRegister div#form-col h2 {
        text-align: center;
    }

    div#userRegister div#links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    div#userRegister div#form-col {
        width: 376px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 380px) {
    div#userRegister div#form-col {
        width: 300px;
        margin: 0 auto;
    }
    div#userRegister input, div#userRegister textarea {
        min-width: 200px;
        
    }
}