.btn {
  padding: 8px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.btn > p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 16px;
}
.btn > svg {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 17px;
}

.btn:focus {
  outline: 2px dashed #e26959;
  outline-offset: 2px;
}

.solid {
  background: #e26959;
  border: 1px solid #e26959;
  color: white;
  transition: all 0.2s ease-in-out;
}

.outline {
  border: 1px solid #e26959;
  color: black;
  transition: all 0.2s ease-in-out;
}

.solid:hover,
.solid:active,
.solid:focus {
  color: white;
  background-color: #28183B;
  transition: all 0.2s ease-in-out;
}

.solid:disabled {
  background: #e26959;
  border: 1px solid #e26959;
  cursor: not-allowed;
  opacity: 0.6;
}

.outline:focus,
.outline:hover,
.outline:active {
  background-color: #28183B;
  color: white;
  transition: all 0.2s ease-in-out;
}

.outline:disabled {
  color: black;
  border: black solid 1px;
  cursor: not-allowed;
  opacity: 0.3;
}

.btn.bold {
  font-weight: 600;
}
