.clubcard_parent {
  display: inline-flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--Neutral-G30, #f0efef);
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  position: relative;

  &:hover {
    border: 1px solid #ff5a318a;
    -webkit-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    -moz-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    transition: all 0.3s ease-in-out;
    cursor: default;
  }

  .clubcard_top {
    display: flex;
    gap: 10px;

    flex-direction: column;

    @media screen and (max-width: 500px) {
      flex-direction: row;
      gap: 15px;
    }

    img {
      align-self: stretch;
      border-radius: 10px;
      height: 150px;
      object-fit: cover;
      max-width: 100%;
      @media screen and (max-width: 500px) {
        width: 110px;
        height: 110px;
      }
    }

    .clubcard_text {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        font-family: var(--outfit);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
      }

      p {
        font-family: var(--outfit);
        font-size: 14px;

        /* Truncate to 2 lines */
        display: -webkit-box; /* Required for truncation */
        -webkit-line-clamp: 2; /* Limit text to 2 lines */
        -webkit-box-orient: vertical; /* Define the box orientation */
        overflow: hidden; /* Hide overflowing text */

        @media screen and (max-width: 500px) {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          min-height: auto;
        }
      }
    }
  }

  .clubcard_ctadiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .profile_numbers {
      font-family: var(--outfit);
      display: flex;
      align-items: center;
      gap: 1rem;

      .counts {
        font-size: 14px;
        line-height: 1;
        margin: 0;
        span {
          font-weight: 600;
        }
      }
    }

    .clubcard_cta_arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: var(--primary);
      font-size: 15px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.4px;
      rotate: -90deg;
      width: 33px;
      height: 33px;
      padding: 7px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
