.navbar_parent {
  padding: 0.8rem 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: relative;

  @media screen and (max-width: 430px) {
    padding: 0.8rem 1.5rem;
  }

  .navbar_brand > img {
    width: 170px;
    z-index: 9999999999999999999999;
    cursor: pointer;

    @media screen and (max-width: 430px) {
      width: 130px;
      z-index: 10;
    }
  }

  .navbar_links {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 10px;
    z-index: 1;
    margin-right: 5rem;

    .navbar_link {
      color: #8c321b;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      font-size: 17px;
      line-height: 1;
    }

    .active-link {
      border-bottom: 2px solid #28183b;
      width: 50%;
      margin: auto;
    }
  }

  .navbar_cta {
    width: 150px;
    gap: 1rem;
    padding: 10px 28px;
    border-radius: 8px;

    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-style: normal;
    width: auto;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    gap: 10px;
    z-index: 3;

    &:hover {
      background: var(--Brand-brand-500, #ff5b31);
      box-shadow:
        0px 0px 1.17px 0px #ff5a30,
        0px 0px 8.191px 0px #ff5a30,
        0px 0px 28.084px 0px #ff5a30;
      transition: all 0.3s ease-in-out;
    }
  }

  .navbar_ham {
    width: 30px;
    height: 30px;
    color: #28183b;
    cursor: pointer;
    display: none;

    @media screen and (max-width: 430px) {
      display: block;
    }
  }

  .navbar_hamimg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    border-radius: 50%;

    @media screen and (max-width: 430px) {
      display: block;
    }
  }

  .navbar_mobile_linksparent {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.867);
    z-index: 20;
    display: flex;
    justify-content: end;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;

    .navbar_mobile_links {
      background-color: rgb(255, 255, 255);
      padding: 1rem;
      box-shadow: 1px 3px 80px rgba(255, 255, 255, 0.346);
      border-radius: 12px;
      width: 80vw;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      position: absolute;
      top: 20%;
      align-items: center;
      padding-top: 2rem;

      .navbar_mobile_link {
        color: #000000;
        font-weight: 500;
        font-family: var(--outfit);
        text-decoration: none;
        font-size: 17px;
        line-height: 1;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .navbar_mobile_cta {
        font-family: var(--outfit);
        text-decoration: none;
        font-size: 17px;
        gap: 5px;
        padding: 0.5rem 1rem;
        width: auto;
        display: flex;
        align-items: center;
      }

      .navbar_mobile_close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
  }

  .nav_dropdown {
    position: absolute;
    top: 40px;
    right: 71px;
    width: 200px;

    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow:
      0px 0px 1.17px 0px #ff593020,
      0px 0px 8.191px 0px #ff593020,
      0px 0px 28.084px 0px #ff593020;
    border-radius: 6px;
    z-index: 10;
    transition: all 1s ease-in-out;
    display: none;

    .myaccount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--secondary);

      .name {
        font-family: var(--outfit);
        font-size: 16px;
        padding: 10px;
        margin-bottom: 5px;
      }

      &:nth-of-type(3) {
        margin-bottom: 8px;
      }

      .myaccount_separator {
        width: 100%;
        height: 1px;
        background-color: #e2e5e871;
      }

      a {
        color: var(--secondary);
        font-weight: 400;
        font-family: var(--outfit);
        text-decoration: none;
        font-size: 16px;
        line-height: 1;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-between;

        span {
          opacity: 60%;
        }

        &:hover {
          background-color: #00000009;
        }
      }
    }
  }

  .nav_dropdown_visible {
    display: flex;
    top: 60px;
    transition: all 1s ease-in-out;
    z-index: 100;
  }
}
