.navbar_parent {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.8rem 7rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.15);
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_brand > img {
  width: 110px;
}

.navbar_links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 10px;
}

.navbar_link {
  color: #8c321b;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 17px;
  line-height: 1;
}

.active-link {
  border-bottom: 2px solid #28183b;
  width: 50%;
  margin: auto;
}

.navbar_cta {
  border-radius: 50px;
}

.navbar_cta:hover {
  background: var(--Brand-brand-500, #ff5b31);
  box-shadow:
    0px 0px 1.17px 0px #ff5a30,
    0px 0px 8.191px 0px #ff5a30,
    0px 0px 28.084px 0px #ff5a30;
  transition: all 0.3s ease-in-out;
}

.navbar_cta_arrow {
  width: 15px;
  height: 15px;
  transition: all 0.3s ease-in-out;
}

.navbar_cta:hover .navbar_cta_arrow,
.landing_signup:hover .navbar_cta_arrow {
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out;
}

.navbar_ham {
  width: 30px;
  height: 30px;
  color: #28183b;
  cursor: pointer;
  display: none;
}

.navbar_hamimg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  border-radius: 50%;
}

.navbar_mobile_linksparent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.867);
  z-index: 20;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.navbar_mobile_links {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 1px 3px 80px rgba(255, 255, 255, 0.346);
  border-radius: 12px;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  position: absolute;
  top: 20%;
  padding-top: 2rem;
}

.navbar_mobile_link {
  color: #000000;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  font-size: 17px;
  line-height: 1;
}

.navbar_mobile_cta {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  font-size: 17px;
  gap: 5px;
  padding: 0.5rem 1rem;
  width: auto;
}

.navbar_mobile_cta > svg {
  width: 15px;
  height: 15px;
}

.navbar_mobile_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .navbar_parent {
    padding: 0.8rem 1.5rem;
  }

  .navbar_brand > img {
    width: 100px;
  }

  .navbar_ham {
    display: block;
  }

  .navbar_hamimg {
    display: block;
  }
}
