.js_mainparent {
    /* Join Upsell */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 24px 40px;
    gap: 32px;

    position: relative;
    width: 978px;
    height: 462.59px;
    left: 210px;
    top: 894px;

    background: linear-gradient(94.13deg, #FFFBF4 0.87%, #FFFBF4 85.92%, #FFF7F2 93.16%, #FEEBE1 100%);
    /* Brand/brand-200 */
    border: 1px solid #FFB4A0;
    border-radius: 32px;

}