.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-btn {
  width: 2.5rem;
  height: 2.5rem;
  color: black;
  background-color: #e76f51;
  border-radius: 10px;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.icon {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

/* .top-btn:hover {
  background-color: transparent;
  border: 2px solid #e76f51;
} */

@media screen and (max-width: 500px) {
  .top-btn {
    width: 2rem;
    height: 2rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .icon {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
  }
}
