.footer-area{
	position: relative;
	background-color:#192285 ; /* For footer background color */
	color: whitesmoke;
}

.footer-logo{
	width:15vh;
	height: 15vh;
	margin:0px!important;
}

/*Organization name */
.footer-head{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
	font-size: 2rem;	
}

/*Organization Tagline */
.footer-subhead{
	font-weight: 500;
	font-size:1.15rem;
}

.footer-subhead strong{
	color:#7ED957;
}

.copyright-text strong{
	color:#7ED957;
}

.copyright-text a{
	text-decoration: none;
}

.quick-links a, .contact-us a{
	text-decoration: none;
	color: whitesmoke;
	font-size: 1.05rem;
	letter-spacing: 0.03rem;
	line-height: 2rem;
	transition: 0.2s;
}

.quick-links a:hover, .contact-us a:hover{
	color:#7ED957;
	transform: scale(1.1);
}

/* iframe of google map address */
.milan-address{
	width:35vh;
	height: 35vh;
	margin-bottom: 5%;
}

.footer-socials{
	text-decoration: none;
	color: #7ED957;
	font-size: 1.3rem;
	transition: 0.2s;
	margin: 0 0.5rem;
}

.footer-socials:hover{
	color:whitesmoke;
	transform: scale(1.2);
}

/* For hiding quick links in the mobile */
 @media screen and (max-width: 400px) {

	 #quick-links{
		 display: none !important;
	 }

	 .contact-us{
		 text-align: center;
	 }
	 
 }