.main-footer {
  position: relative;
  left: 0;
  width: 100%;
  overflow: visible;
  clear: both;
}
.main-font {
  font-family: poppins;
}

.page-footer {
  background-color: rgb(48, 47, 47);
  padding: 30px 80px;
  color: #fff;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
  top: 45px;
}

.ml-1 {
  margin-left: 15px;
}

.reportModalHeader > h1 {
  font-family: "Inter",sans-serif;
  color: #28183b;
  font-size: 1.5rem;
  font-weight: 600;
}

.reportModal > h2 {
  font-family: "Poppins"sans-serif;
  color: #28183b;
  font-size: 0.9rem;
}

#reportForm {
  font-family: "Poppins"sans-serif;
  padding: 0;
}

/* Overriding global (App.css) style of making placeholders transparent in desktop view */

#reportForm input::-webkit-input-placeholder,
#reportForm textarea::-webkit-input-placeholder {
  /* Edge */
  color: #6b7280 !important;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}

.btn-hover {
  margin: 20px;
}

.links {
  color: rgb(177, 177, 177);
  text-decoration: none;
}
.links:hover {
  color: rgb(231, 231, 231);
}

.footer-text {
  color: rgb(177, 177, 177);
}

.footer-links {
  line-height: 25px;
}

.col2 {
  position: relative;
}

.button {
  background-color: rgb(15, 127, 233);
  color: #fff;
}

.footer-copyright,
.copyright {
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.socials {
  display: flex;
  margin-top: 20px;
  margin-bottom: 2px;
}
.headings {
  font-family: Montserrat, sans-serif;
}
.social-btn {
  margin: 0 5px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
  cursor:pointer;
}
.social-btn:hover {
  transform: scale(1.1);
  border-radius: 100%;
}

.social-btn i {
  color: #ff725e;
}

.twitter:hover {
  background-color: #020202;
}
.github:hover {
  background-color: black;
}
.fa-brands {
  font-size: 20px;
  border-radius: 100%;
}

.cont-icon {
  margin-top: 8px;
}

.FaSquareXTwitter {
  margin-top: 5px;

}

.github-icon{
  font-size: 1.55rem ;
  color:#e26959;
}

.twitter-icon{
  font-size: 1.55rem ;
  color:#e26959;
}

.FaGithub {
  margin-top: 4px;
}

.social-btn:hover i {
  color: white;
}

.join {
  margin-top: 27px;
  margin-left: -75px;
  white-space: nowrap;
}

.join-us ul li a {
  transition: all 0.3s ease-in;
}

.report {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 49px;
  background-color: #27414d;
  color: #fff;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
}

.report:hover {
  box-shadow: 0 2px 8px rgb(122, 122, 122);
}

.rep {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.btn-report {
  border-radius: 8px;
  border: none;
  background-color: #e26959;
  padding: 10px 20px;
  transition: all 0.3s ease-in;
}

.btn-report:hover {
  background-color: #fae0b4ff;
  transform: scale(1.1);
}

.btn-report span {
  color: black;
}

.btn-report i {
  transition: all 0.3s ease-in;
  color: black;
}

.btn-report:hover i {
  transform: rotate(90deg);
}

.report img {
  width: 20px;
}

.top-img {
  height: 25px;
  position: relative;
  left: 4%;
}

.bottom-img {
  position: relative;
  right: 5%;
}
.col-md-3 {
  width: 150px;
}
.ls {
  margin-left: 200px;
}

.btn-contact {
  border-radius: 5px;
  background-color: #9ac2fe;
  border: none;
  color: #424141;
}

.btn-contact:hover {
  transition-duration: 0.5s;
  color: #000000;
}

@media screen and (max-width: 1276px) {
  .footer-links {
    line-height: 40px !important;
  }
}

@media screen and (max-width: 896px) {
  .footer-content {
    flex-direction: column !important;
  }

  .col1,
  .col2 {
    width: 100% !important;
  }

  .footer-links {
    display: none;
  }

  .row2 {
    margin: 0 !important;
  }

  .report {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .join {
    margin-left: 0px;
  }
}

@media screen and (max-width: 680px) {
  .page-footer {
    padding: 30px 28px !important;
  }
}

.form-control {
  margin-bottom: 1rem;
}

.footer_auth_text {
  color: #d8d7d7;
  margin-bottom: 2px;
}

.footer_auth_text:hover {
  color: #e26959;
}

@media screen and (min-width: 526px) {
  body {
    overflow: unset;
  }
}

@media screen and (max-width: 525px) {
  .reportModalHeader {
    justify-content: center;
    align-items: center;
  }

  .reportModalHeader > h1 {
    font-size: 1.2rem;
    margin-left: 1.4rem;
    /* margin-bottom: 0px; */
    flex: auto;
  }
}

@media only screen and (min-width: 767px) {
  .social-icons-mobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .footer-text {
    text-align: justify;
    font-size: 14px;
    margin: 10px -20px;
  }

  .social-icons {
    text-align: center;
  }

  .join-us {
    text-align: center;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    padding: 2px;
  }
  .join-us-list {
    position: relative;
    top: -10px;
  }
  .join {
    margin: auto;
  }
}
.underline-animation {
  color: #e26959;
  position: relative;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.underline-animation:hover {
  color: #e26959;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #e26959;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}
