.eventscard_parent {
  border-radius: 6px;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: white;
  border: 1px solid #6b2615;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 1rem;
}

.mySwiper {
  padding: 1.5rem 0;
}

.eventscard_parent:hover {
  -webkit-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
  -moz-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
  box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
  border: 1px solid #ff5b31;
  transition: all 0.3s ease-in-out;
}

.eventscard_parent > img:nth-of-type(1) {
  width: 100%;
  margin: auto;
  border-radius: 6px 6px 0 0px;
}

.eventscard_body > h1 {
  font-size: 17px;
  color: black;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
}

.eventscard_date {
  background-color: white;
  position: absolute;
  top: 7px;
  right: 7px;
  text-align: center;
  padding: 7px 2px;
  border-radius: 4px;
}

.eventscard_date > p {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1px;
}
