footer {
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: start;
  padding: 7rem;
  justify-content: space-between;
  max-width: 100vw;

  @media (max-width: 1024px) {
    padding: 3rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  @media screen and (max-width: 500px) {
    padding: 3rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .leftside {
    display: flex;
    align-items: start;
    gap: 5rem;

    @media (max-width: 1024px) {
      gap: 3rem;
    }

    @media screen and (max-width: 500px) {
      gap: 3rem;
      flex-direction: column;
    }

    .brand {
      margin-top: -0.5rem;
    }

    .links_parent {
      display: flex;
      gap: 5rem;
      .product,
      .dev,
      .policies {
        display: flex;
        flex-direction: column;
        h1 {
          color: rgba(255, 255, 255, 0.855);
          font-size: 17px;
          margin-bottom: 1.5rem;
          font-family: var(--poppins);
        }
        a {
          color: rgba(255, 255, 255, 0.555);
          font-size: 15px;
          font-family: var(--poppins);
          text-decoration: none;
          margin-bottom: 5px;

          &:hover {
            color: rgba(255, 255, 255, 0.855);
          }
        }
      }

      .policies {
        @media screen and (max-width: 500px) {
          display: none;
        }
      }
    }

    .policies_mobile {
      display: none;
      width: 100%;

      @media screen and (max-width: 500px) {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        a {
          color: rgba(255, 255, 255, 0.555);
          font-size: 15px;
          font-family: var(--poppins);
          text-decoration: none;
          &:hover {
            color: rgba(255, 255, 255, 0.855);
          }
        }
      }
    }
  }

  .rightside {
    display: flex;
    gap: 1rem;

    z-index: 90;

    a > svg {
      width: 1.4rem;
      height: 1.4rem;
      cursor: pointer;
      color: white !important;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
