@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.comingsoon_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--outfit);

  img {
    width: 300px;
  }

  h1 {
    font-size: 60px;
    color: #28183b;
    line-height: 80px;
    font-weight: 900;

    margin-top: 2rem;
    text-align: center;
  }

  p {
    color: black;
    font-size: 18px;
    margin-top: 0px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 50px;
  }
}
