/* MilaninfoBanner stylings below */

.mib_mainparent {
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding: 0 20.5px;
}

.mib_top_intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mib_top_intro > h1 {
  font-size: 25px;
  font-weight: 900;

  color: #e26959;
  background-image: -webkit-linear-gradient(45deg, #e26959 20%, #28183b 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.mib_collab_bottom_middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mib_collab_bottom_middle > h1 {
  font-size: 50px;
  color: #28183b;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.mib_collab_bottom_middle > p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 18px;
  margin-top: 0px;
  letter-spacing: 1px;
  width: 70%;
  text-align: center;
}

.mib_sidewise {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  width: 85%;
  margin-top: 4rem;
  align-items: center;
  margin-bottom: 12rem;
}

.mib_collab_bottom_left > img {
  width: 400px;
}

.mib_collab_bottom_right h1 {
  font-size: 28px;
  color: #28183b;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.mib_collab_bottom_right p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
  margin-top: 0px;
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  .mib_mainparent {
    padding: 0 10.5px;
  }

  .mib_top_intro > h1 {
    font-size: 23px;
    font-weight: 900;
  }

  .mib_collab_bottom_middle > h1 {
    font-size: 45px;
    line-height: 50px;
    margin-top: 1rem;
  }

  .mib_collab_bottom_middle > p {
    font-size: 17px;
    width: 95%;
  }

  .mib_sidewise {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    width: 100%;
    margin-bottom: 7rem;
  }

  .mib_collab_bottom_right h1 {
    text-align: center;
    font-size: 25px;
  }

  .mib_collab_bottom_right p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
  }

  .mib_collab_bottom_left > img {
    width: 90%;
  }

  .mib_collab_parent:nth-child(3)
    > .mib_collab_bottom
    > .mib_sidewise
    > .mib_collab_bottom_left {
    display: none;
  }
}

.homebanner_parent {
  position: relative;
}

.homebanner_bg {
  max-width: 100%;
}
