.feed{
    width:50%;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins';
}
.feed_none{
    display: none;
}
.feed h1{
    font-size: 4vmin;
    font-weight: bold;
}
.feedback{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    /* border: 2px solid black; */
    border-radius: 15px;
    margin: auto;
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    padding:2vmin;
    width:98%;
    height: 98%;
    background-color: rgb(253, 253, 253);
}

.rate{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width:95%;
}
.rate label{
    font-size:3vmin;
    font-weight: 700;
    color: #757373;
}
.rate input{
    height:7vmin;
    border: 2px solid rgb(5, 5, 4);
    border-radius: 5px;
    background-color: rgba(240, 239, 239, 0.79);
    margin-bottom: 2vmin;
    width: 100%;
    padding:2px
}

.rate textarea{
    height:30vmin;
    width:100%;
    background-color: rgba(240, 239, 239, 0.79);
    padding:1vmin;
    font-size: 2.5vmin;
    resize: none;
    border-radius: 5px;
    margin-bottom: 2vmin;
    border: 2px solid rgb(17, 14, 12);
}

.sub{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
