.eventcard_parent {
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  border-radius: 10px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);

  &:hover {
    -webkit-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    -moz-box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    box-shadow: 0px 0px 20px 7px rgba(226, 105, 89, 0.32);
    transition: all 0.3s ease-in-out;
    cursor: default;
  }

  .eventcard_banner {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
  }

  .eventcard_top {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      flex-direction: row;
      gap: 15px;
    }

    .eventcard_name {
      h1 {
        font-family: var(--outfit);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
        margin: 0;
      }

      span {
        font-family: var(--outfit);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        color: #000000b4;
      }
    }

    .eventcard_links {
      display: flex;
      gap: 10px;
      align-items: center;

      svg {
        width: 40px;
        border-radius: 10px;
        height: 40px;
        cursor: pointer;
        background-color: #f5f7f7;
        padding: 10px;
      }
    }
  }

  p {
    font-family: var(--outfit);
    font-size: 15px;

    margin-top: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (max-width: 500px) {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: auto;
    }
  }

  .eventcard_ctadiv {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    justify-content: space-between;
    width: 100%;

    .cta_membersdiv {
      display: flex;
      align-items: center;
      gap: 7px;

      img {
        width: 34px;
        height: 34px;
        max-width: 34px;
        max-height: 34px;
        outline: none;
        background: none;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid rgb(255, 255, 255);

        &:nth-child(2) {
          margin-left: -13px;
        }

        &:nth-child(3) {
          margin-left: -13px;
        }
      }
      p {
        margin: 0;
        font-family: var(--outfit);
        font-size: 15px;
        font-weight: 500;
      }
    }

    .eventcard_cta {
      background: #ff5a31;
      color: white;
      padding: 10px;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      font-family: var(--outfit);
      border: none;

      svg {
        rotate: 45deg;
        width: 80%;
        height: 80%;
        color: rgba(255, 255, 255, 0.95);
      }
    }
  }
}
