.slider-container {
  overflow: hidden; /* Hides slides outside the visible area */
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 2rem;
}

.slide > * {
  width: 50%;
}

.slider_parent {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem 8rem;
  margin: 0 3rem;
}
