@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

.banner_mainparent {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 95vh;
}

.banner_subparent {
  display: flex;
  justify-content: center;
}

.banner_textdiv {
  text-align: center;
}

.banner_header1 {
  font-size: 90px;
  margin-bottom: 1.5rem !important;
  margin-top: 6rem;
  color: #28183b;
  line-height: 98px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.banner_header1 > br:nth-of-type(1) {
  display: none;
}

.banner_header2 {
  font-family: Montserrat, sans-serif;
  font-size: 65px;
  line-height: 80px;
  margin-bottom: 1.5rem !important;
  color: #28183b;
}

.banner_textdiv div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner_header3 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 24px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.banner_header3 > span {
  color: #e26959;
}

.banner_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.banner_signup_btn {
  margin-top: 2rem;
  width: 190px;
  padding: 15px 5px !important;
  height: 50px;
}

.banner_contribute_logo {
  width: 25px;
  height: 25px;
  margin-bottom: 0px;
  color: #000;
}

.banner_imgdiv img {
  max-width: 400px;
}

@media screen and (max-width: 1200px) {
  .banner_header1 {
    font-size: 90px;
    margin-bottom: 1.5rem !important;
    margin-top: 6rem;
    color: #28183b;
    line-height: 98px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
  }

  .banner_header3 {
    font-size: 20px;
    margin-top: 40px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .banner_header1 {
    margin-top: 3rem;
    line-height: 88px;
  }

  .banner_header1 > br:nth-of-type(1) {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .banner_mainparent {
    height: 100vh;
  }

  .banner_subparent {
    flex-direction: column;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
  }

  .banner_imgdiv img {
    display: none;
  }

  .banner_textdiv {
    margin-top: 10vh;
  }

  .banner_header1 {
    font-size: 60px;
    text-align: center;
    line-height: 65px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .banner_header2 {
    font-size: 3.5rem;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .banner_header3 {
    text-align: center;
    font-size: 18px;
  }

  .banner_header3 > br {
    display: none;
  }

  .banner_signup_btndiv {
    display: flex;
  }

  .banner_btn_div {
    gap: 1rem;
    margin-top: 3rem;
  }

  .banner_signup_btn {
    margin: auto;
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .banner_header1 {
    font-size: 50px;
    line-height: 55px;
  }

  .banner_header3 {
    font-size: 16px;
  }
}

/* MilaninfoBanner stylings below */

.mib_mainparent {
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding: 0 20.5px;
}

.mib_top_intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mib_numbercircle {
  background: hsla(7, 70%, 62%, 1);

  background: linear-gradient(
    45deg,
    hsla(7, 70%, 62%, 1) 0%,
    hsla(22, 100%, 68%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(7, 70%, 62%, 1) 0%,
    hsla(22, 100%, 68%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(7, 70%, 62%, 1) 0%,
    hsla(22, 100%, 68%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E26959", endColorstr="#FF985D", GradientType=1 );

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  margin: auto;
  border-radius: 50%;
  color: #28183b;
}

.mib_top_intro > h1 {
  font-size: 25px;
  font-weight: 900;

  color: #e26959;
  background-image: -webkit-linear-gradient(45deg, #e26959 20%, #28183b 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.mib_collab_bottom_middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.mib_collab_bottom_middle > h1 {
  font-size: 50px;
  color: #28183b;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.mib_collab_bottom_middle > p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 18px;
  margin-top: 0px;
  letter-spacing: 1px;
  width: 70%;
  text-align: center;
}

.mib_sidewise {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  width: 85%;
  margin-top: 4rem;
  align-items: center;
  margin-bottom: 12rem;
}

.mib_collab_bottom_left > img {
  width: 400px;
}

.mib_collab_bottom_right h1 {
  font-size: 28px;
  color: #28183b;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

.mib_collab_bottom_right p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
  margin-top: 0px;
  letter-spacing: 1px;
}

@media screen and (max-width : 992px) {
  .mib_sidewise {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    width: 100%;
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 500px) {
  .mib_mainparent {
    padding: 0 10.5px;
  }

  .mib_numbercircle {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }

  .mib_top_intro > h1 {
    font-size: 23px;
    font-weight: 900;
  }

  .mib_collab_bottom_middle > h1 {
    font-size: 45px;
    line-height: 50px;
    margin-top: 1rem;
  }

  .mib_collab_bottom_middle > p {
    font-size: 17px;
    width: 95%;
  }

 

  .mib_collab_bottom_right h1 {
    text-align: center;
    font-size: 25px;
  }

  .mib_collab_bottom_right p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
  }

  .mib_collab_bottom_left > img {
    width: 90%;
  }

  .mib_collab_parent:nth-child(3)
    > .mib_collab_bottom
    > .mib_sidewise
    > .mib_collab_bottom_left {
    display: none;
  }
}
