/* Fonts import */

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=PT+Sans&display=swap');

/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Banner Section */

section#banner {
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 75vh;
    background: url(../images/about-bg.jpg) center no-repeat;
    background-position: bottom;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#banner::before {
    content: "";
    background: rgb(0 0 0 / 0.6);
    position: absolute;
    height: inherit;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

section#banner div#banner-text {
    position: relative;
    min-width: 300px;
    width: 60%;
    color: #ededed;
}

section#banner div#banner-text h1 {
    font-size: 64px;
    padding: 22px;
}

section#banner div#banner-text p {
    font-size: 22px;
    padding: 22px;
}

/* Core-Team Section */

section#core-team, section#contributors{
    font-family: 'PT Sans', sans-serif;
    padding: 28px 64px;
    background: url(../images/concrete_seamless.jpg);
}

section#core-team h1, section#contributors h1{
    margin: 0;
    padding-bottom: 32px;
    font-size: 48px;
    font-weight: bold;
    color: #339a9c;
    text-align: center;
    text-decoration: underline;
}

div.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.card {
    margin: 22px 32px;
    border: none;
    border-radius: 12px;
    transition: transform 0.2s ease;
}

div.card img.card-img-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

div.card div.links {
    display: flex;
    justify-content: space-evenly;
}

div.card:hover {
    box-shadow: 4px 4px 12px #8fd2ed;
    transform: scale(1.1);
}

hr.line {
    margin: 0;
    height: 4px;
}

/* Responsive media */

@media screen and (max-width: 1155px) {
    section#banner div#banner-text {
        width: 75%;
    }
}

@media screen and (max-width: 1024px) {

    section#banner div#banner-text h1 {
        font-size: 48px;
    }

    section#banner div#banner-text p {
        font-size: 18px;
    }

    section#core-team h1, section#contributors h1{
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {

    section#banner div#banner-text h1 {
        font-size: 40px;
    }

    section#banner div#banner-text p {
        font-size: 16px;
    }

    section#core-team h1, section#contributors h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {

    section#banner div#banner-text h1 {
        font-size: 32px;
    }

    section#banner div#banner-text p {
        font-size: 14px;
    }

    section#core-team h1, section#contributors h1{
        font-size: 32px;
    }
}
