#Navbarrr {
  padding-left: 30px;
  padding-right: 50px;
  background-color: #ddf7e4;
  /* background-color: #96BAFF; */
  position: relative;
}

.navbar {
  font-size: 1em;
  font-family: "ABeeZee", sans-serif;
  position: relative;
}

.navbar.sticky {
  padding: 15px 0;
  background: white;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-user-circle {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 10px;
}

#nb {
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  /* color: rgba(0, 0, 0, 0.8); */
  color: black;
}

.nav-item {
  padding-right: 15px;
}

#title {
  background-color: #819dff;
  padding-left: 50px;
}

.navbar-brand {
  font-family: "Acme", sans-serif;
}

.about_img {
  height: 400px;
  width: 500px;
  position: relative;
  top: 60px;
  left: 30px;
  margin-bottom: 10rem;
}

span {
  font-size: 1.1rem;
  font-weight: 600;
}

.about_a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}

/* ----------- */

.teams {
  position: relative;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.teams h1 {
  font-family: "Cabin", sans-serif;
  font-size: 4rem;
  margin-bottom: 32px;
  color: #657dd5;
  font-weight: 600;
}

.card {
  width: 60%;
  margin-right: 30px;
  display: inline-flex;
  border: 0.5px solid black;
  border-radius: 2px;
}

.card img {
  border-radius: 80%;
  height: 150px;
  width: 150px;
  position: relative;
  left: 65px;
  top: 10px;
  margin-bottom: 20px;
}

.card-body {
  background-color: white;
}

.c1 {
  background-color: #657dd5;
}

.c2 {
  background-color: chocolate;
}

.c3 {
  background-color: darkgreen;
}

.c4 {
  background-color: darkorchid;
}

.card i {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 1.3rem;
}

.send {
  font-family: "Ubuntu", sans-serif;
}
