.come {
  position: relative;
  width: 50%;
  margin-top: 100px;
  margin-left: 530px;
}

.come h1 {
  color: rgba(0, 0, 0, 0.5);
}

.coming {
  position: relative;
  right: 100px;
  height: 300px;
  width: 450px;
}
